In [1]:
#imports
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
from matplotlib import dates as mpl_dates
from matplotlib.pyplot import figure
import numpy as np
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import calendar

In [2]:
df_merchandise = pd.read_excel('Merchandise.xlsx', index_col="ProductID")

## Data Preprocessing & Analysis

In [3]:
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,...,ListOnline,CustNo,FixSplit,TaxRate,PhyDate,Auction2,ConCode,BuyOut,CardFee,Reminded
ProductID,,,,,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
0,filler,filler,filler,filler,NaN,0.00,1999-12-31,2018-04-14,68.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False

In [4]:
df_merchandise.shape

(15308, 50)

In [5]:
df_merchandise.count()

ProductType           15308
ProductColor          15308
ProductSize           15308
ProductDescription    15308
OrigPrice             15307
Price                 15308
EnterDate             15308
TransferDate          10923
TransferPrice         15308
TransferInd           15308
TransferBy            15308
CustomerID            15308
ReqPrice              15308
InvoiceNumber         10906
Return                15308
MarkdownDate1          9976
MarkdownDate2          8497
MarkdownDate3          6976
LabelPrinted          15308
MercCut               15307
DownPymt              15308
DownWho                   0
DownDate                  0
ItemCount             15308
Date1                     0
Text1                   395
Num1                  15308
ExpireDate            15308
LayawayGrp                0
PCName                14925
DontPrintTag          15308
ItemNotes                 0
WholesalePrice        15308
BuyersFee             15308
DownPhone                 0
ResaleNow             15308
PreviousOwner             0
AuctionID                 0
Taxable               14925
NeverMD               14925
ListOnline            15308
CustNo                    0
FixSplit              15308
TaxRate               14925
PhyDate                   0
Auction2                  0
ConCode                   0
BuyOut                15308
CardFee               10906
Reminded              15308
dtype: int64

In [6]:
df_merchandise['DownPymt'].unique()
# will drop

array([0])

In [7]:
df_merchandise['Num1'].unique()
# will drop

array([0])

In [8]:
df_merchandise['Taxable'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [9]:
df_merchandise['Taxable'].value_counts()
# will drop

Y    14910
N       15
Name: Taxable, dtype: int64

In [10]:
df_merchandise['NeverMD'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [11]:
df_merchandise['NeverMD'].value_counts()
# will drop, unable to find documentation for this column description

N    13159
Y     1766
Name: NeverMD, dtype: int64

In [12]:
df_merchandise['TaxRate'].unique()
# will drop, these values will be worthless

array([nan,  0.])

In [13]:
df_merchandise['CardFee'].unique()
# will drop, these values will be worthless

array([ 0., nan])

In [14]:
# drop columns with no/many missing values and ones that are unnecessary
df_merchandise = df_merchandise.drop(['DownWho','DownDate','Date1','Text1','LayawayGrp','ItemNotes','Num1',
                                      'DownPhone','PreviousOwner','LabelPrinted','PCName','DontPrintTag',
                                      'Taxable','WholesalePrice','AuctionID','CustNo','PhyDate','Auction2',
                                      'DownPymt','ResaleNow','ListOnline','FixSplit','ConCode','NeverMD',
                                      'BuyOut','TaxRate','Reminded','CardFee'], axis=1)

In [15]:
# drop filler row
df_merchandise = df_merchandise.drop([0])
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,...,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,...,0.0,8150.0,False,NaT,NaT,NaT,0.0,0,2018-11-16,0.0
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,...,0.0,7749.0,False,NaT,NaT,NaT,0.5,0,2018-10-01,0.0
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,...,0.0,13211.0,False,NaT,NaT,NaT,0.0,0,2020-08-18,0.0
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,...,0.0,13842.0,False,NaT,NaT,NaT,0.5,0,2020-10-16,0.0
3,None,None,None,Credenza Lamp,71.10,71.10,2018-08-25,2018-08-25,71.10,Sold,...,0.0,8225.0,False,NaT,NaT,NaT,0.0,0,2018-11-23,0.0

In [16]:
df_merchandise.dtypes

ProductType                   object
ProductColor                  object
ProductSize                   object
ProductDescription            object
OrigPrice                    float64
Price                        float64
EnterDate             datetime64[ns]
TransferDate          datetime64[ns]
TransferPrice                float64
TransferInd                   object
TransferBy                    object
CustomerID                     int64
ReqPrice                     float64
InvoiceNumber                float64
Return                          bool
MarkdownDate1         datetime64[ns]
MarkdownDate2         datetime64[ns]
MarkdownDate3         datetime64[ns]
MercCut                      float64
ItemCount                      int64
ExpireDate            datetime64[ns]
BuyersFee                    float64
dtype: object

In [17]:
df_merchandise['ProductType'].value_counts()

Accessory          5266
Chair              1194
Decor               655
Table               402
None                384
Pillow              371
Art                 365
Sofa                296
Rug                 293
End Table           228
Lamp                224
Picture             221
Desk                171
Light               155
Bed                 140
Barstool            124
Mirror              113
Coffee Table        111
Dining Table        104
Chest               104
Console              99
Ottoman              93
Cabinet              90
Book                 86
Sidetable            79
Chandelier           77
Bench                65
Nightstand           63
Dresser              60
Clock                54
                   ...
Set Of 6 Chairs       1
Thomasville Chi       1
Sofa/ottoman          1
PB Bed + Nights       1
Pottery In Stan       1
Bar Stoot             1
Office Unit           1
Wood Bowl             1
Camdle                1
Love Seat             1
Plates                1
Glider                1
Endtables/ Coff       1
Wine                  1
Desk W/top            1
Backless Sofa         1
Crendenza             1
Desk/credenza         1
Jewelry Chest         1
Ceiling Mount L       1
2 Drawer              1
LIghting              1
Wall Scroll           1
Trunk/frame           1
Daybed With Tru       1
Table 6/ Chairs       1
Lights                1
/ottoman              1
Orange Glass Va       1
OD Set                1
Name: ProductType, Length: 1211, dtype: int64

In [18]:
products = df_merchandise['ProductType'].value_counts()
products[products < 10].shape
# there are 1103 entries where the total count for a given Product Type appears less than 10 times. 
# I will likely exclude these entries from the dataframe when analyzing products

(1103,)

In [19]:
df_merchandise['ProductColor'].value_counts()

None        14779
White          53
Brown          44
Black          29
Ivory          25
Flint          22
Driftwoo       19
Silver         17
Linen          13
Sapphire       12
Wheat          12
Seaglass       12
Gold           11
Blue           11
Red            10
Wood            9
Gray            9
Teal            9
Oatmeal         8
Multi           8
Navy            8
Misc            7
Metal           7
Tommy           6
Clear           6
Yellow          5
Green           5
Bronze          4
Small           4
Rose Oak        3
            ...
Purple          1
Marble T        1
Verde           1
Gin Patc        1
Gallery         1
White Le        1
Gry/oran        1
Wht Tin         1
Lime            1
Teal/Str        1
Local           1
200.00          1
Birds           1
4 Chairs        1
Blond           1
Blk/Blnd        1
Bernhard        1
Stripe          1
Beige/ta        1
Gray/pur        1
Light Bl        1
Red/Blac        1
2 Leaves        1
Blk Red         1
Yosimite        1
Wht/brn         1
Chair           1
Sunflowe        1
Sailboat        1
Walnut          1
Name: ProductColor, Length: 134, dtype: int64

In [20]:
products_color = df_merchandise['ProductColor'].value_counts()
products_color[products_color != 'None'].shape

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

(134,)

Since there's only 134 entires where the Product Color is any description other than "None", I will remove this column from the dataset as it will not be useful for analysis.

In [21]:
df_merchandise = df_merchandise.drop(['ProductColor'], axis=1)

In [22]:
df_merchandise['ProductSize'].value_counts()

None          14798
Jubilee          94
Park Avenu       39
Queen            18
Small            18
Medium           17
King             14
Large            13
Pomeroy          11
53006225         10
CM3500            8
B446              8
CM1700            8
CM4550            8
CM3200            7
53005996          7
Wood              6
9ft X 4ft         6
22x22             5
Round             3
53005413el        3
Chair             2
4 Pcs             2
V950434           2
98 Inch           2
5X8               2
53050040          2
2311-m            2
53003675el        2
Base              2
              ...
AR15F01727        1
Triple            1
Bed40k            1
CL19629037        1
30                1
CM3200Q/F         1
Sm2239-3d-        1
22"               1
17x22             1
53005670          1
42x31             1
5140001           1
CLKE144250        1
52005435          1
CM5267            1
Clka1384          1
Bed36q            1
40"               1
D335-425 T        1
25x52             1
ARTAFE2165        1
Studio Art        1
76x36             1
43x84             1
ARTAC0443C        1
48x36             1
Hand Dyed         1
2X3               1
51003949          1
52004200          1
Name: ProductSize, Length: 201, dtype: int64

In [23]:
products_size = df_merchandise['ProductSize'].value_counts()
products_size[products_size != 'None'].shape

(201,)

I will again drop this column as only 201 of the rows contain useful information regarding Product Size

In [24]:
df_merchandise = df_merchandise.drop(['ProductSize'], axis=1)

In [25]:
df_merchandise['ProductDescription'].value_counts()

Pillow                       611
Lamp                         436
Picture                      347
Art                          315
Chair                        296
Rug                          228
Mirror                       216
Vase                         203
Decor                        202
Chandelier                   145
Barstool                     108
Free                          98
Sofa                          95
Book                          88
Desk                          87
Nightstand                    78
Sidetable                     69
Plate                         68
Finial                        65
Office Chair                  65
Coffeetable                   61
Table                         59
Frame                         56
Pewter Figurine               53
Ottoman                       53
Bookcase                      52
Light Fixture                 51
Painting                      50
Console                       49
Bench                         48
                            ...
Heart Candlestick              1
Blue/white                     1
Burgandy Lamp                  1
Bennett                        1
Planter/pot                    1
Blanket                        1
Black                          1
Buda & Lotus                   1
High Boy                       1
Polka Dot Vase                 1
Round Table W/ Marble          1
Bernhardt Set/6                1
Band Hat                       1
Yucka Art                      1
Low Secretary                  1
Small Brass Pitcher            1
Sconcex 2                      1
Buildings                      1
2 Twin Foundations             1
Lg Bath Matt                   1
Country Mood Wall Clock        1
Cowboy Pillow                  1
King Mattress And Box Spr      1
Metal Console/mirror           1
Woman In Red                   1
Antique Rocking Horse          1
Ram                            1
John Richard Coffee Table      1
Red Cardinal                   1
Hunt Server                    1
Name: ProductDescription, Length: 5425, dtype: int64

want to add product descriptions to product type field if product type field has "none" for the entry and the descrtipion has something relevant to replace with (i.e. sofa, chair, table, rug, etc.).

In [26]:
df_merchandise.head(20)

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
-2,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,Chris,1,0.0,8150.0,False,NaT,NaT,NaT,0.0,0,2018-11-16,0.0
-1,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,Adriana,237,0.0,7749.0,False,NaT,NaT,NaT,0.5,0,2018-10-01,0.0
1,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,Gina,1,0.0,13211.0,False,NaT,NaT,NaT,0.0,0,2020-08-18,0.0
2,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,Noel,237,0.0,13842.0,False,NaT,NaT,NaT,0.5,0,2020-10-16,0.0
3,None,Credenza Lamp,71.10,71.10,2018-08-25,2018-08-25,71.10,Sold,Adriana,1,0.0,8225.0,False,NaT,NaT,NaT,0.0,0,2018-11-23,0.0
4,None,Pillow,120.00,120.00,2018-08-30,2018-08-30,120.00,Sold,Noel,1,0.0,8262.0,False,NaT,NaT,NaT,0.0,0,2018-11-28,0.0
5,None,Rug,269.10,269.10,2018-09-28,2018-09-28,269.10,Sold,Adriana,1,0.0,8479.0,False,NaT,NaT,NaT,0.0,0,2018-12-27,0.0
6,None,3 Balls,7.50,7.50,2018-10-21,2018-10-21,7.50,Sold,Chris,1,0.0,8686.0,False,NaT,NaT,NaT,0.0,0,2019-01-19,0.0
7,Dining Table,Teak Root/Glass Top,4260.00,4260.00,2015-09-18,NaT,0.00,Store,Noel,1,0.0,NaN,True,NaT,NaT,NaT,0.0,0,2015-12-17,0.0
8,None,Art,5.50,5.50,2019-01-02,2019-01-02,5.50,Sold,Adriana,237,0.0,9212.0,False,NaT,NaT,NaT,0.5,0,2019-04-02,0.0
9,None,Lamp,89.00,89.00,2019-01-13,2019-01-13,89.00,Sold,Noel,1,0.0,9329.0,False,NaT,NaT,NaT,0.0,0,2019-04-13,0.0
10,None,Wooden Oklahoma Sign,25.00,25.00,2019-02-28,2019-02-28,25.00,Sold,Gina,1,0.0,9745.0,False,NaT,NaT,NaT,0.0,0,2019-05-29,0.0
11,None,Candle,20.00,20.00,2019-04-29,2019-04-29,20.00,Sold,Adriana,1,0.0,10199.0,False,NaT,NaT,NaT,0.0,0,2019-07-28,0.0
12,None,Queen Bed,137.50,137.50,2019-08-03,2019-08-03,137.50,Sold,Noel,237,0.0,11039.0,False,NaT,NaT,NaT,0.5,0,2019-11-01,0.0
13,None,Rug,50.00,50.00,2019-09-14,2019-09-14,50.00,Sold,Gina,1,0.0,11489.0,False,NaT,NaT,NaT,0.0,0,2019-12-13,0.0
14,None,Mirror,22.00,22.00,2019-10-12,2019-10-12,22.00,Sold,Noel,1913,0.0,11692.0,False,NaT,NaT,NaT,0.5,0,2020-01-10,0.0
15,None,* Unknown,15.12,15.12,2020-01-05,2020-01-05,15.12,Sold,Fred,237,0.0,12327.0,False,NaT,NaT,NaT,0.5,0,2020-04-04,0.0
16,Sofa,C.R. Laine,3600.00,2520.00,2015-09-18,NaT,0.00,Available,Noel,2,0.0,NaN,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2015-12-17,0.0
17,Sofa,C.R. Laine,3600.00,2520.00,2015-09-18,NaT,0.00,Available,Noel,2,0.0,NaN,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2015-12-17,0.0
18,None,Chandelier,27.50,27.50,2020-03-04,2020-03-04,27.50,Sold,Gina,1,0.0,12889.0,False,NaT,NaT,NaT,0.0,0,2020-06-02,0.0

In [27]:
df_merchandise.dtypes

ProductType                   object
ProductDescription            object
OrigPrice                    float64
Price                        float64
EnterDate             datetime64[ns]
TransferDate          datetime64[ns]
TransferPrice                float64
TransferInd                   object
TransferBy                    object
CustomerID                     int64
ReqPrice                     float64
InvoiceNumber                float64
Return                          bool
MarkdownDate1         datetime64[ns]
MarkdownDate2         datetime64[ns]
MarkdownDate3         datetime64[ns]
MercCut                      float64
ItemCount                      int64
ExpireDate            datetime64[ns]
BuyersFee                    float64
dtype: object

In [28]:
df_merchandise.InvoiceNumber = df_merchandise.InvoiceNumber.fillna(0.0).astype(int)
df_merchandise.head(3)

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
-2,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,Chris,1,0.0,8150,False,NaT,NaT,NaT,0.0,0,2018-11-16,0.0
-1,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,Adriana,237,0.0,7749,False,NaT,NaT,NaT,0.5,0,2018-10-01,0.0
1,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,Gina,1,0.0,13211,False,NaT,NaT,NaT,0.0,0,2020-08-18,0.0

In [29]:
df_merchandise.dtypes

ProductType                   object
ProductDescription            object
OrigPrice                    float64
Price                        float64
EnterDate             datetime64[ns]
TransferDate          datetime64[ns]
TransferPrice                float64
TransferInd                   object
TransferBy                    object
CustomerID                     int64
ReqPrice                     float64
InvoiceNumber                  int64
Return                          bool
MarkdownDate1         datetime64[ns]
MarkdownDate2         datetime64[ns]
MarkdownDate3         datetime64[ns]
MercCut                      float64
ItemCount                      int64
ExpireDate            datetime64[ns]
BuyersFee                    float64
dtype: object

In [30]:
# MercCut signifies 0.5 for items consigned (50/50 split), 0.0 for items the store purchased new
df_merchandise.MercCut.value_counts()

0.5    13255
0.0     2052
Name: MercCut, dtype: int64

In [34]:
df_merchandise.ProductType.value_counts().head(20)

Accessory       5266
Chair           1194
Decor            655
Table            402
None             384
Pillow           371
Art              365
Sofa             296
Rug              293
End Table        228
Lamp             224
Picture          221
Desk             171
Light            155
Bed              140
Barstool         124
Mirror           113
Coffee Table     111
Dining Table     104
Chest            104
Name: ProductType, dtype: int64

## Need to clean ProductType column to narrow down the different values

In [37]:
df_merchandise.TransferInd.value_counts()

Sold         10790
Available     3173
Store         1246
Vendor          98
Name: TransferInd, dtype: int64

In [48]:
accessories = df_merchandise[df_merchandise.ProductType == 'Accessory']
accessories.ProductDescription.value_counts().head(25)

Pillow             313
Lamp               269
Picture            226
Art                220
Vase               142
Mirror             129
Decor              118
Rug                 80
Free                72
Chandelier          72
Pewter Figurine     53
Plate               46
Painting            39
Book                37
Finial              36
Frame               35
Floorlamp           34
Light Fixture       34
Bracket             34
Clock               31
Bowl                30
Christmas Decor     29
Greenery            28
Silver Tray         26
Tablelamp           26
Name: ProductDescription, dtype: int64

In [50]:
df_merchandise[df_merchandise.ProductType == 'Pillow'].shape

(371, 20)

In [51]:
df_merchandise[df_merchandise.ProductType == 'Lamp'].shape

(224, 20)

In [52]:
df_merchandise[df_merchandise.ProductType == 'Picture'].shape

(221, 20)

In [53]:
df_merchandise[df_merchandise.ProductType == 'Art'].shape

(365, 20)

In [54]:
df_merchandise[df_merchandise.ProductType == 'Vase'].shape

(45, 20)

In [55]:
df_merchandise[df_merchandise.ProductType == 'Mirror'].shape

(113, 20)

In [56]:
df_merchandise[df_merchandise.ProductType == 'Rug'].shape

(293, 20)

In [57]:
df_merchandise[df_merchandise.ProductType == 'Painting'].shape

(13, 20)

In [ ]:
#df_merchandise = df_merchandise.replace({'ProductType': 'Picture'}, 'Art')