In [1]:
#imports
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
from matplotlib import dates as mpl_dates
from matplotlib.pyplot import figure
import numpy as np
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import calendar

In [2]:
df_merchandise = pd.read_excel('Merchandise.xlsx', index_col="ProductID")

## Data Preprocessing & Analysis

In [3]:
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,...,ListOnline,CustNo,FixSplit,TaxRate,PhyDate,Auction2,ConCode,BuyOut,CardFee,Reminded
ProductID,,,,,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
0,filler,filler,filler,filler,NaN,0.00,1999-12-31,2018-04-14,68.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False

In [4]:
df_merchandise.shape

(15308, 50)

In [5]:
df_merchandise.count()

ProductType           15308
ProductColor          15308
ProductSize           15308
ProductDescription    15308
OrigPrice             15307
Price                 15308
EnterDate             15308
TransferDate          10923
TransferPrice         15308
TransferInd           15308
TransferBy            15308
CustomerID            15308
ReqPrice              15308
InvoiceNumber         10906
Return                15308
MarkdownDate1          9976
MarkdownDate2          8497
MarkdownDate3          6976
LabelPrinted          15308
MercCut               15307
DownPymt              15308
DownWho                   0
DownDate                  0
ItemCount             15308
Date1                     0
Text1                   395
Num1                  15308
ExpireDate            15308
LayawayGrp                0
PCName                14925
DontPrintTag          15308
ItemNotes                 0
WholesalePrice        15308
BuyersFee             15308
DownPhone                 0
ResaleNow             15308
PreviousOwner             0
AuctionID                 0
Taxable               14925
NeverMD               14925
ListOnline            15308
CustNo                    0
FixSplit              15308
TaxRate               14925
PhyDate                   0
Auction2                  0
ConCode                   0
BuyOut                15308
CardFee               10906
Reminded              15308
dtype: int64

In [6]:
df_merchandise['DownPymt'].unique()
# will drop

array([0])

In [7]:
df_merchandise['Num1'].unique()
# will drop

array([0])

In [8]:
df_merchandise['Taxable'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [9]:
df_merchandise['Taxable'].value_counts()
# will drop

Y    14910
N       15
Name: Taxable, dtype: int64

In [10]:
df_merchandise['NeverMD'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [11]:
df_merchandise['NeverMD'].value_counts()
# will drop, unable to find documentation for this column description

N    13159
Y     1766
Name: NeverMD, dtype: int64

In [12]:
df_merchandise['TaxRate'].unique()
# will drop, these values will be worthless

array([nan,  0.])

In [13]:
df_merchandise['CardFee'].unique()
# will drop, these values will be worthless

array([ 0., nan])

In [14]:
# drop columns with no/many missing values and ones that are unnecessary
df_merchandise = df_merchandise.drop(['DownWho','DownDate','Date1','Text1','LayawayGrp','ItemNotes','Num1',
                                      'DownPhone','PreviousOwner','LabelPrinted','PCName','DontPrintTag',
                                      'Taxable','WholesalePrice','AuctionID','Return','CustNo','PhyDate','Auction2',
                                      'DownPymt','ResaleNow','ItemCount','ListOnline','FixSplit','ConCode','NeverMD',
                                      'BuyOut','TaxRate','Reminded','CardFee'], axis=1)

In [15]:
# drop filler row
df_merchandise = df_merchandise.drop([0])
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,...,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,...,0.0,8150.0,False,NaT,NaT,NaT,0.0,0,2018-11-16,0.0
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,...,0.0,7749.0,False,NaT,NaT,NaT,0.5,0,2018-10-01,0.0
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,...,0.0,13211.0,False,NaT,NaT,NaT,0.0,0,2020-08-18,0.0
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,...,0.0,13842.0,False,NaT,NaT,NaT,0.5,0,2020-10-16,0.0
3,None,None,None,Credenza Lamp,71.10,71.10,2018-08-25,2018-08-25,71.10,Sold,...,0.0,8225.0,False,NaT,NaT,NaT,0.0,0,2018-11-23,0.0

In [16]:
df_merchandise.dtypes

ProductType                   object
ProductColor                  object
ProductSize                   object
ProductDescription            object
OrigPrice                    float64
Price                        float64
EnterDate             datetime64[ns]
TransferDate          datetime64[ns]
TransferPrice                float64
TransferInd                   object
TransferBy                    object
CustomerID                     int64
ReqPrice                     float64
InvoiceNumber                float64
Return                          bool
MarkdownDate1         datetime64[ns]
MarkdownDate2         datetime64[ns]
MarkdownDate3         datetime64[ns]
MercCut                      float64
ItemCount                      int64
ExpireDate            datetime64[ns]
BuyersFee                    float64
dtype: object

In [17]:
# MercCut signifies 0.5 for items consigned (50/50 split), 0.0 for items the store purchased new
df_merchandise.MercCut.value_counts()

# 13,255 of the items have been consigned

0.5    13255
0.0     2052
Name: MercCut, dtype: int64

In [18]:
# Convert invoice number to int from float
df_merchandise.InvoiceNumber = df_merchandise.InvoiceNumber.fillna(0.0).astype(int)
df_merchandise.InvoiceNumber.dtype

dtype('int64')

In [19]:
df_merchandise.shape

(15307, 22)

In [20]:
# View top 21 selling items and their value counts
df_merchandise['ProductType'].value_counts().head(21)

Accessory       5266
Chair           1194
Decor            655
Table            402
None             384
Pillow           371
Art              365
Sofa             296
Rug              293
End Table        228
Lamp             224
Picture          221
Desk             171
Light            155
Bed              140
Barstool         124
Mirror           113
Coffee Table     111
Dining Table     104
Chest            104
Console           99
Name: ProductType, dtype: int64

In [21]:
products = df_merchandise['ProductType'].value_counts()
products[products < 10].shape
# there are 1103 different entry labels for the Product Type column that occur 10 or less times 
# I will likely exclude these entries from the dataframe when analyzing products since cleaning 1000+ rows is
# not feasible given the timeline of this project

(1103,)

In [22]:
products[products < 100].shape
# Outside of the top 20 selling items listed in ProductType (#20 having 104 entries), there are 1191 different 
# entry labels for this category. Only the top 20 items for this category will be analyzed

(1191,)

In [23]:
df_merchandise[df_merchandise.groupby('ProductType')['ProductType'].transform('size') < 100].shape
# 4,386 rows will be excluded from top20 item analysis prior to cleaning

(4386, 22)

In [24]:
df_merchandise['ProductColor'].value_counts().head(20)

None        14779
White          53
Brown          44
Black          29
Ivory          25
Flint          22
Driftwoo       19
Silver         17
Linen          13
Wheat          12
Seaglass       12
Sapphire       12
Gold           11
Blue           11
Red            10
Gray            9
Teal            9
Wood            9
Multi           8
Navy            8
Name: ProductColor, dtype: int64

Since there's only 528 entires where the Product Color is any description other than "None", I will remove this column from the dataset as it will not be useful for analysis.

In [25]:
df_merchandise = df_merchandise.drop(['ProductColor'], axis=1)

In [26]:
df_merchandise['ProductSize'].value_counts().head(20)

None          14798
Jubilee          94
Park Avenu       39
Queen            18
Small            18
Medium           17
King             14
Large            13
Pomeroy          11
53006225         10
CM1700            8
CM3500            8
B446              8
CM4550            8
CM3200            7
53005996          7
Wood              6
9ft X 4ft         6
22x22             5
53005413el        3
Name: ProductSize, dtype: int64

Only 509 of the rows contain useful information regarding Product Size (other than 'None), will drop this column

In [27]:
df_merchandise = df_merchandise.drop(['ProductSize'], axis=1)

In [28]:
df_merchandise['ProductDescription'].value_counts().head(20)

Pillow          611
Lamp            436
Picture         347
Art             315
Chair           296
Rug             228
Mirror          216
Vase            203
Decor           202
Chandelier      145
Barstool        108
Free             98
Sofa             95
Book             88
Desk             87
Nightstand       78
Sidetable        69
Plate            68
Office Chair     65
Finial           65
Name: ProductDescription, dtype: int64

In [29]:
#How many rows are there with a Product Description label that occurs less than 65 times (outside of top20 values)
df_merchandise[df_merchandise.groupby('ProductDescription')['ProductDescription'].transform('size') < 65].shape

(11487, 20)

There are too many rows to go through and clean for Product Description given the timeframe of this report. However, there are rows in which the value for 'ProductType' contains 'None' or 'Accessory', but has a relevant value for 'ProductDescription' that could replace the ProductType value and fit into a pre-existing label in ProductType such as 'Table','Chair', etc.

In [30]:
accessories = df_merchandise[df_merchandise.ProductType == 'Accessory']
accessories.ProductDescription.value_counts().head(15)

Pillow             313
Lamp               269
Picture            226
Art                220
Vase               142
Mirror             129
Decor              118
Rug                 80
Chandelier          72
Free                72
Pewter Figurine     53
Plate               46
Painting            39
Book                37
Finial              36
Name: ProductDescription, dtype: int64

In [31]:
df_merchandise[df_merchandise.ProductType == 'Rug'].shape
# It looks like there are sufficient values for PD under PT = 'Accessory' that are already in the top 20
# value counts for PT that can be replaced using their PD values

(293, 20)

In [32]:
# Add filter to main replacement cell below
table = df_merchandise[df_merchandise.ProductType.str.contains('table', case=False)]
table.ProductType.value_counts()

Table              402
End Table          228
Coffee Table       111
Dining Table       104
Sidetable           79
Side Table          48
Endtable            44
Sofatable           38
Coffeetable         29
Diningtable         23
Sofa Table          17
Table Set            8
Round Table          8
Nesting Tables       6
Diningtable Set      5
Entry Table          4
Coffetable           4
Table/6 Chairs       4
Table 4 Chairs       3
Cocktail Table       3
Diningtable W/8      3
Table 8 Chairs       3
Table Lamp           3
Pub Table            3
Table 6 Chairs       3
Dining Table W/      3
Folding Table        2
Accent Table         2
Round Sidetable      2
Dinning Table        2
                  ...
Adjustable Bed       1
Half Moon Table      1
Table/10 Chairs      1
Chairs/table         1
Endtables/ Coff      1
Dining Table Ov      1
Glass Top Table      1
Custom Table         1
Bisrto Table         1
Endtable/tile        1
Table/hutch/8 C      1
Table W/7Chair       1
Table 4 Chrs         1
Safa Table           1
Child Table/cha      1
DRAFTING TABLE       1
Table And CHair      1
Mirror Table         1
Table And 4 Sid      1
Red Table            1
Table W/ 4 Chai      1
Table W/3 Chair      1
Table & 8 Chair      1
Dining Table/ C      1
Table 7/chairs       1
Table/4 Chairs       1
Demi Lune Table      1
Pubtable             1
Table/Chairs         1
Dining Table/4       1
Name: ProductType, Length: 99, dtype: int64

In [33]:
# Add filter to main replacement cell below
chairs = df_merchandise[df_merchandise.ProductType.str.contains('chair', case=False)]
chairs.ProductType.value_counts()

Chair              1194
Chairs               34
Dining Chair         12
Chair/ottoman        10
Chair W/ottoman       7
Chair W/ott           6
Chair And Ottom       6
Dinning Chair         6
Metal Chair           4
Desk Chair            4
Barrel Chair          4
Rocking Chair         4
COPPER CHAIR          4
Office Chair          4
Table/6 Chairs        4
6 Chairs              3
DINING CHAIR          3
Table 4 Chairs        3
Table 8 Chairs        3
4 Chairs              3
Table 6 Chairs        3
Kai Side Chair        3
Side Chair            2
Chairs W/ott          2
Leather Chair         2
Lakefield Chair       2
Table And Chair       2
Antique Chair         2
Sherrill Chair        2
Dining Chairs/6       2
                   ...
Chairs Sidetabl       1
Dinette 4 Chair       1
Pink Chair            1
Table/4 Chairs        1
Chairs/4              1
Set Of 4 Chairs       1
Table And CHair       1
Desk/chair            1
Table W/7Chair        1
Leather Chairs        1
Chairs Set 4          1
Chair W/ Ottoma       1
Table 7/chairs        1
Officechair           1
Table W/chairs        1
Table 6/ Chairs       1
Chair & Ottoman       1
Arm Chairs 2          1
Chair/ott             1
Table/10 Chairs       1
Chair W/ Ott          1
Chairs/table          1
Maverick Chair        1
La-z-boy Chair        1
RH 2 Chairs/ Ot       1
5 Chairs              1
Chairs Set 6          1
Hansen Chair          1
Chairside             1
CHAIR                 1
Name: ProductType, Length: 99, dtype: int64

In [34]:
# Replace ProductType values for 'Accessory' that also contain top 20 values of ProductType for the ProductDescription category
# Replace values for 'Pillow'
pillow_filter = (df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Pillow')
df_merchandise.loc[pillow_filter, 'ProductType'] = df_merchandise['ProductDescription']

In [35]:
# Ensure new values were correctly added to 'Pillow' value counts and deducted from 'Accessory'
# 'Pillow' should increase from 371 to 684
df_merchandise.ProductType.value_counts().head()

Accessory    4953
Chair        1194
Pillow        684
Decor         655
Table         402
Name: ProductType, dtype: int64

In [36]:
# Ensure this swap did not affect ProductDescription value counts for 'Pillow'
accessories.ProductDescription.value_counts().head()

Pillow     313
Lamp       269
Picture    226
Art        220
Vase       142
Name: ProductDescription, dtype: int64

In [37]:
# Repeat for chairs
chairs = df_merchandise[(df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Chair')]
chairs.shape

(10, 20)

In [38]:
# Repeat for chairs
chair_filter = (df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Chair')
df_merchandise.loc[chair_filter, 'ProductType'] = df_merchandise['ProductDescription']

In [39]:
# Ensure new values were correctly added to 'Pillow' value counts and deducted from 'Accessory'
# 'Chair' value should increase from 1194 to 1204
df_merchandise.ProductType.value_counts().head(10)

Accessory    4943
Chair        1204
Pillow        684
Decor         655
Table         402
None          384
Art           365
Sofa          296
Rug           293
End Table     228
Name: ProductType, dtype: int64

Repeat replacement process for other ProductType categories to better distribute values from **both** 'Accessory' and 'None' in ProductTypw that would better fit into other categories.

Check 'None' values for items over $200 to correct for

In [40]:
none_filter = df_merchandise[(df_merchandise['ProductType'] == 'None') & ((df_merchandise.Price >200))]
none_filter

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
5,None,Rug,269.10,269.100,2018-09-28,2018-09-28,269.10,Sold,Adriana,1,0.0,8479,False,NaT,NaT,NaT,0.0,0,2018-12-27,0.000
19,None,Bench,500.00,500.000,2020-07-25,2020-07-25,500.00,Sold,Noel,237,0.0,13920,False,NaT,NaT,NaT,0.5,0,2020-10-23,0.000
18812,None,RH Stacking Bin,371.25,259.875,2018-06-02,2018-06-05,0.00,Available,System,237,0.0,7544,False,2018-06-22,2018-07-12,2018-08-01,0.5,0,2018-08-31,0.000
18818,None,Rug 10 X 14,1259.50,1259.500,2018-09-02,2018-09-02,1259.50,Sold,Adriana,1306,0.0,8292,False,NaT,NaT,NaT,0.5,0,2018-12-01,0.000
20920,None,Chest,352.00,352.000,2018-09-01,2018-09-01,352.00,Sold,Adriana,1,0.0,8287,False,NaT,NaT,NaT,0.0,0,2018-11-30,0.000
20921,None,Dresser,431.20,431.200,2018-09-01,2018-09-01,431.20,Sold,Adriana,1,0.0,8287,False,NaT,NaT,NaT,0.0,0,2018-11-30,0.000
20922,None,Ian Queen Bedframe,263.20,263.200,2018-09-02,2018-09-02,263.20,Sold,Adriana,1,0.0,8294,False,NaT,NaT,NaT,0.0,0,2018-12-01,0.000
20957,None,Grey/olive Loveseat,237.00,237.000,2018-09-07,2018-09-07,237.00,Sold,Adriana,1,0.0,8331,False,NaT,NaT,NaT,0.0,0,2018-12-06,0.000
21335,None,2 Twin Foundations,270.00,270.000,2018-10-02,2018-10-02,270.00,Sold,Noel,1,0.0,8522,False,NaT,NaT,NaT,0.0,0,2018-12-31,0.000
21633,None,Rug,269.10,269.100,2018-10-13,2018-10-13,269.10,Sold,Noel,1,0.0,8622,False,NaT,NaT,NaT,0.0,0,2019-01-11,0.000
21911,None,Chair/loveseat,699.00,699.000,2018-10-30,2018-10-30,699.00,Sold,Noel,1,0.0,8769,False,NaT,NaT,NaT,0.0,0,2019-01-28,0.000
22229,None,Rug,539.00,539.000,2018-11-24,2018-11-24,539.00,Sold,Ken,237,0.0,8928,False,NaT,NaT,NaT,0.5,0,2019-02-22,0.000
22230,None,Leather Recliner,1000.00,1000.000,2018-11-24,2018-11-24,1000.00,Sold,Ken,1,0.0,8928,False,NaT,NaT,NaT,0.0,0,2019-02-22,0.000
23057,None,Window Pane Divider,300.00,300.000,2019-01-19,2019-01-19,300.00,Sold,Adriana,1,0.0,9384,False,NaT,NaT,NaT,0.0,0,2019-04-19,0.000
23424,None,4 Chairs,448.00,448.000,2019-02-07,2019-02-07,448.00,Sold,Noel,1,0.0,9545,False,NaT,NaT,NaT,0.0,0,2019-05-08,0.000
23473,None,Crystal Chandelier,1200.00,1200.000,2019-02-11,2019-02-11,1200.00,Sold,Ken,1,0.0,9599,False,NaT,NaT,NaT,0.0,0,2019-05-12,0.000
23598,None,Shutters,375.00,375.000,2019-02-18,2019-02-18,375.00,Sold,Adriana,1,0.0,9673,False,NaT,NaT,NaT,0.0,0,2019-05-19,0.000
23702,None,Chair,500.00,500.000,2019-03-02,2019-03-02,500.00,Sold,Ken,1630,0.0,9766,False,NaT,NaT,NaT,0.5,0,2019-05-31,0.000
23730,None,King Mat And Box,400.00,400.000,2019-03-04,2019-03-04,400.00,Sold,Ken,1,0.0,9790,False,NaT,NaT,NaT,0.0,0,2019-06-02,0.000
23783,None,Marge Carson Table,400.00,400.000,2019-03-09,2019-03-09,400.00,Sold,Noel,1,0.0,9833,False,NaT,NaT,NaT,0.0,0,2019-06-07,0.000
23815,None,Abstract Art,245.00,245.000,2019-03-12,2019-03-12,245.00,Sold,Adriana,1,0.0,9847,False,NaT,NaT,NaT,0.0,0,2019-06-10,0.000
24235,None,3 Twin/ 1 Queen,250.00,250.000,2019-03-30,2019-03-30,250.00,Sold,Adriana,1,0.0,9989,False,NaT,NaT,NaT,0.0,0,2019-06-28,0.000
24241,None,Hutch,350.00,350.000,2019-03-30,2019-03-30,350.00,Sold,Adriana,1677,0.0,9999,False,NaT,NaT,NaT,0.5,0,2019-06-28,0.000
24502,None,Table,800.00,800.000,2019-04-08,2019-04-08,800.00,Sold,Adriana,1,0.0,10061,False,NaT,NaT,NaT,0.0,0,2019-07-07,0.000
24628,None,Chandelier,699.00,699.000,2019-04-19,2019-04-19,699.00,Sold,Gina,1,0.0,10126,False,NaT,NaT,NaT,0.0,0,2019-07-18,0.000
24638,None,* Unknown,750.00,750.000,2019-04-19,2019-04-19,750.00,Sold,Gina,1,0.0,10134,False,NaT,NaT,NaT,0.0,0,2019-07-18,0.000
24640,None,Queen Mat/box,389.00,389.000,2019-04-19,2019-04-19,389.00,Sold,Ken,1,0.0,10136,False,NaT,NaT,NaT,0.0,0,2019-07-18,0.000
25037,None,None,750.00,502.500,2019-05-04,2019-09-28,206.25,Sold,Deb,1708,0.0,11591,True,2019-05-24,2019-06-13,2019-07-03,0.5,0,2019-08-02,13.125
26120,None,Cocktail Table,274.50,274.500,2019-06-15,2019-06-15,274.50,Sold,Gina,1,0.0,10596,False,NaT,NaT,NaT,0.0,0,2019-09-13,0.000
26541,None,Q Matt/box,450.00,450.000,2019-07-09,2019-07-09,450.00,Sold,Elizabeth,1,0.0,10821,False,NaT,NaT,NaT,0.0,0,2019-10-07,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27383,None,Sleeper,429.99,429.990,2019-09-10,2019-09-10,429.99,Sold,Ken,1,0.0,11453,False,NaT,NaT,NaT,0.0,0,2019-12-09,0.000
27616,None,Buffet,450.00,450.000,2019-10-02,2019-10-02,450.00,Sold,Gina,237,0.0,11623,False,NaT,NaT,NaT,0.5,0,2019-12-31,0.000
27691,None,*NEW* Lg. Painting,656.10,656.100,2019-10-05,2019-10-05,656.10,Sold,Adriana,1,0.0,11649,False,NaT,NaT,NaT,0.0,0,2020-01-03,0.000
27692,None,*NEW* Sm. Painting,450.00,450.000,2019-10-05,2019-10-05,450.00,Sold,Adriana,1,0.0,11649,False,NaT,NaT,NaT,0.0,0,2020-01-03,0.000
27693,None,*NEW* Sm. Painting,450.00,450.000,2019-10-05,2019-10-05,450.00,Sold,Adriana,1,0.0,11649,False,NaT,NaT,NaT,0.0,0,2020-01-03,0.000
28565,None,Cow Hide,495.00,495.000,2019-11-23,2019-11-23,495.00,Sold,Gina,1,0.0,12008,False,NaT,NaT,NaT,0.0,0,2020-02-21,0.000
29013,None,* Unknown,216.00,216.000,2019-12-16,2019-12-16,216.00,Sold,Gina,1,0.0,12175,False,NaT,NaT,NaT,0.0,0,2020-03-15,0.000
29774,None,Mirror,900.00,900.000,2020-01-18,2020-01-18,900.00,Sold,Adriana,1,0.0,12444,False,NaT,NaT,NaT,0.0,0,2020-04-17,0.000
29780,None,* Unknown,225.00,225.000,2020-01-20,2020-01-20,225.00,Sold,Ken,1,0.0,12469,False,NaT,NaT,NaT,0.0,0,2020-04-19,0.000
29889,None,Chair,250.00,250.000,2020-01-23,2020-01-23,250.00,Sold,Gina,237,0.0,12487,False,NaT,NaT,NaT,0.0,0,2020-04-22,0.000
29919,None,Rug,220.00,220.000,2020-01-27,2020-01-27,220.00,Sold,Noel,237,0.0,12523,False,NaT,NaT,NaT,0.5,0,2020-04-26,0.000
29944,None,* Unknown,1098.00,1098.000,2020-01-28,2020-01-28,1098.00,Sold,Beth,1,0.0,12533,False,NaT,NaT,NaT,0.0,0,2020-04-27,0.000
30181,None,* Unknown,800.00,800.000,2020-02-09,2020-02-09,800.00,Sold,Ken,1,0.0,12616,False,NaT,NaT,NaT,0.0,0,2020-05-09,0.000
30220,None,Glass,275.00,275.000,2020-02-13,2020-02-13,275.00,Sold,Noel,1,0.0,12650,False,NaT,NaT,NaT,0.0,0,2020-05-13,0.000
31506,None,Bubble Ligting,425.00,425.000,2020-05-21,2020-05-21,425.00,Sold,Gina,1,0.0,13218,False,NaT,NaT,NaT,0.0,0,2020-08-19,0.000
31517,None,Rug,800.00,800.000,2020-05-22,2020-05-22,800.00,Sold,Ken,1,0.0,13225,False,NaT,NaT,NaT,0.0,0,2020-08-20,0.000
31572,None,Universal,412.50,412.500,2020-05-23,2020-05-23,412.50,Sold,Fred,580,0.0,13248,False,NaT,NaT,NaT,0.5,0,2020-08-21,0.000
31693,None,Pottery Barn Rug,269.50,269.500,2020-05-28,2020-05-28,269.50,Sold,Gina,1,0.0,13281,False,NaT,NaT,NaT,0.0,0,2020-08-26,0.000
32160,None,Mantle,350.00,350.000,2020-06-18,2020-06-18,350.00,Sold,Gina,237,0.0,13509,False,NaT,NaT,NaT,0.5,0,2020-09-16,0.000
32246,None,Leaning Door,349.30,349.300,2020-06-20,2020-06-20,349.30,Sold,Fred,1,0.0,13529,False,NaT,NaT,NaT,0.0,0,2020-09-18,0.000
32592,None,Chair,275.00,220.000,2020-06-30,2020-07-09,0.00,Available,System,237,0.0,13639,False,2020-07-20,2020-08-10,NaT,0.5,0,2020-09-28,0.000
32986,None,* Unknown,550.00,495.000,2020-07-11,2020-07-14,0.00,Available,System,237,0.0,13769,False,2020-07-31,NaT,NaT,0.5,0,2020-10-09,0.000
33199,None,New Mattress,700.00,700.000,2020-07-27,2020-07-27,700.00,Sold,Fred,237,0.0,13923,False,NaT,NaT,NaT,0.0,0,2020-10-25,0.000
55658,None,* Unknown,425.00,425.000,2019-01-07,2019-01-07,425.00,Sold,Elizabeth,889,0.0,9276,False,NaT,NaT,NaT,0.5,0,2019-04-07,0.000
26363281,None,Table,1485.00,1485.000,2019-02-09,2019-02-09,1485.00,Sold,Chris,237,0.0,9566,False,NaT,NaT,NaT,0.5,0,2019-05-10,0.000
26363282,None,Black Pendant,291.00,291.000,2019-02-09,2019-02-09,291.00,Sold,Chris,1,0.0,9566,False,NaT,NaT,NaT,0.0,0,2019-05-10,0.000
26363283,None,* Unknown,291.00,291.000,2019-02-09,2019-02-09,291.00,Sold,Chris,1,0.0,9566,False,NaT,NaT,NaT,0.0,0,2019-05-10,0.000
26363294,None,KENS LAMPS X 2,1300.00,1300.000,2019-07-06,2019-07-06,1300.00,Sold,Gina,1,0.0,10787,False,NaT,NaT,NaT,0.0,0,2019-10-04,0.000
26363302,None,End Table,250.00,250.000,2019-10-01,2019-10-01,250.00,Sold,Adriana,1,0.0,11610,False,NaT,NaT,NaT,0.0,0,2019-12-30,0.000
26363303,None,Chandelier,220.00,220.000,2020-05-16,2020-05-16,220.00,Sold,Chad,1870,0.0,13176,False,NaT,NaT,NaT,0.5,0,2020-08-14,0.000

In [41]:
# Accessory and None values cleaning

# Replace values where 'lamp' occurs
lamp_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('lamp', case=False))
df_merchandise.loc[lamp_filter, 'ProductType'] = 'Lamp'

# Repeat for chairs
chair_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('chair', case=False))
df_merchandise.loc[chair_filter, 'ProductType'] = 'Chairs'

# Repeat for pillows where 'pillow' occurs
pillow_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('pillow', case=False))
df_merchandise.loc[pillow_filter, 'ProductType'] = 'Pillow'

# Repeat for tables
table_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('table', case=False)) & ~(df_merchandise['ProductDescription'].str.contains('unforgettable', case=False)))
df_merchandise.loc[table_filter, 'ProductType'] = 'Table'

# Repeat for art
art_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('art', case=False))
df_merchandise.loc[art_filter, 'ProductType'] = 'Art'

# Repeat for sofa
sofa_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('sofa', case=False))
df_merchandise.loc[sofa_filter, 'ProductType'] = 'Sofa'

# Repeat for rug
rug_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('rug', case=False))
df_merchandise.loc[rug_filter, 'ProductType'] = 'Rug'

# Repeat for pictures as 'Art'
picture_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('picture', case=False))
df_merchandise.loc[picture_filter, 'ProductType'] = 'Art'

# Repeat for desk
desk_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('desk', case=False))
df_merchandise.loc[desk_filter, 'ProductType'] = 'Desk'

# Repeat for bed
bed_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('bed', case=False))
df_merchandise.loc[bed_filter, 'ProductType'] = 'Bed'

# Repeat for chest
chest_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('chest', case=False))
df_merchandise.loc[chest_filter, 'ProductType'] = 'Chest'

# Repeat for mirror
mirror_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('mirror', case=False))
df_merchandise.loc[mirror_filter, 'ProductType'] = 'Mirror'

# Repeat for painting as 'Art'
painting_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('painting', case=False))
df_merchandise.loc[painting_filter, 'ProductType'] = 'Art'

# Repeat for lights
light_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('light', case=False)) & ~(df_merchandise['ProductDescription'].str.contains('sconce', case=False)))
df_merchandise.loc[light_filter, 'ProductType'] = 'Light'

# Repeat for chandelier, lantern, 'ligt' as 'Lighting'
chandelier_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (((df_merchandise['ProductDescription'].str.contains('chandelier', case=False)))
                                                                      | ((df_merchandise['ProductDescription'].str.contains('lantern', case=False))) | ((df_merchandise['ProductDescription'].str.contains('ligt', case=False))))
df_merchandise.loc[chandelier_filter, 'ProductType'] = 'Lighting'

# Repeat for clock, vase, book, pewter items, bowl, greenery, tray, cross, urn, plate, decor as 'Decor'
decor_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (((df_merchandise['ProductDescription'].str.contains('decor', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('clock', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('book', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('pewter', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('bowl', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('greenery', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('tray', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('cross', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('urn', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('plate', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('vase', case=False))))
df_merchandise.loc[decor_filter, 'ProductType'] = 'Decor'

# Repeat for free
free_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('free', case=False)))
df_merchandise.loc[free_filter, 'ProductType'] = 'Free'

# Repeat for sleeper as 'Sofa'
none_sleeper_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('sleeper', case=False)))
df_merchandise.loc[none_sleeper_filter, 'ProductType'] = 'Sofa'

# Repeat for hardware, finials, rods as 'Accessory'
none_hw_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('hardware', case=False))
                                                             |(df_merchandise['ProductDescription'].str.contains('finial', case=False))
                                                             |(df_merchandise['ProductDescription'].str.contains('rod', case=False)))
df_merchandise.loc[none_hw_filter, 'ProductType'] = 'Accessory'

# Repeat for 'mat' values indicating mattresses as 'Bed'
none_mattress_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('mat', case=False)))
df_merchandise.loc[none_mattress_filter, 'ProductType'] = 'Bed'

# Repeat for 'bench' values
none_bench_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('bench', case=False)))
df_merchandise.loc[none_bench_filter, 'ProductType'] = 'Bench'

# Repeat for 'dresser' values
none_dresser_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('bench', case=False)))
df_merchandise.loc[none_dresser_filter, 'ProductType'] = 'Dresser'

In [42]:
# Replace and consolidate all values in ProductType column

# Repeat for end table, coffee table, dining table, sidetable, etc. as 'Table' to consolidate
mass_table_filter = df_merchandise.ProductType.str.contains('table', case=False) | df_merchandise.ProductType.str.contains('coffee', case=False) | df_merchandise.ProductType.str.contains('tabl', case=False)
df_merchandise.loc[mass_table_filter, 'ProductType'] = 'Table'

# Repeat for lamp, light, chandelier as 'Lighting' to consolidate
lighting_filter = (df_merchandise['ProductType'] == 'Lamp') | (df_merchandise['ProductType'] == 'Light') | (df_merchandise['ProductType'] == 'LIghting') | (df_merchandise['ProductType'] == 'Chandelier')
df_merchandise.loc[lighting_filter, 'ProductType'] = 'Lighting'

# Repeat for all values of 'bed' into 'Bed' category
all_bed_filter = df_merchandise.ProductType.str.contains('bed', case=False)
df_merchandise.loc[all_bed_filter, 'ProductType'] = 'Bed'

# Repeat for all values of 'chair','barstool' into 'Chair' category in PT to consolidate
# contains 'dining chairs', 'sofa chair', 'side chair', etc.
mass_chair_filter = (df_merchandise.ProductType.str.contains('chair', case=False)) | (df_merchandise.ProductType.str.contains('barstool', case=False))
df_merchandise.loc[mass_chair_filter, 'ProductType'] = 'Chairs'

# Repeat for ottoman values 
ottoman_filter = df_merchandise.ProductType.str.contains('ottoman', case=False)
df_merchandise.loc[ottoman_filter, 'ProductType'] = 'Ottoman'

# Repeat for 'art' values 
mass_art_filter = df_merchandise.ProductType.str.contains('art', case=False)
df_merchandise.loc[mass_art_filter, 'ProductType'] = 'Art'

# Repeat for 'pillow' values 
mass_pillow_filter = df_merchandise.ProductType.str.contains('pillow', case=False)
df_merchandise.loc[mass_pillow_filter, 'ProductType'] = 'Pillow'

# Repeat for 'rug' values 
mass_rug_filter = df_merchandise.ProductType.str.contains('rug', case=False)
df_merchandise.loc[mass_rug_filter, 'ProductType'] = 'Rug'

# Repeat for remaining 'light' values not captured
mass_light_filter = df_merchandise.ProductType.str.contains('light', case=False)
df_merchandise.loc[mass_light_filter, 'ProductType'] = 'Lighting'

# Repeat for remaining 'sofa' values not captured
mass_sofa_filter = df_merchandise.ProductType.str.contains('sofa', case=False)
df_merchandise.loc[mass_sofa_filter, 'ProductType'] = 'Sofa'

# Repeat for remaining 'armoir' values not captured
armoir_filter = df_merchandise.ProductType.str.contains('armoir', case=False)
df_merchandise.loc[armoir_filter, 'ProductType'] = 'Armoir'

# Repeat for remaining 'mirror' values not captured
mass_mirror_filter = df_merchandise.ProductType.str.contains('mirror', case=False)
df_merchandise.loc[mass_mirror_filter, 'ProductType'] = 'Mirror'

# Repeat for remaining 'picture' values not captured
mass_picture_filter = df_merchandise.ProductType.str.contains('picture', case=False)
df_merchandise.loc[mass_picture_filter, 'ProductType'] = 'Picture'

# Repeat for remaining 'desk' values not captured
mass_desk_filter = df_merchandise.ProductType.str.contains('desk', case=False)
df_merchandise.loc[mass_desk_filter, 'ProductType'] = 'Desk'

# Repeat for remaining 'chest' values not captured
mass_chest_filter = df_merchandise.ProductType.str.contains('chest', case=False)
df_merchandise.loc[mass_chest_filter, 'ProductType'] = 'Chest'

# Repeat for remaining 'console' values not captured
mass_console_filter = df_merchandise.ProductType.str.contains('console', case=False)
df_merchandise.loc[mass_console_filter, 'ProductType'] = 'Console'

# Repeat for remaining 'free' values not captured
mass_free_filter = df_merchandise.ProductType.str.contains('free', case=False)
df_merchandise.loc[mass_free_filter, 'ProductType'] = 'Free'

# Repeat for remaining 'cabinet' values not captured
mass_cabinet_filter = df_merchandise.ProductType.str.contains('cabinet', case=False)
df_merchandise.loc[mass_cabinet_filter, 'ProductType'] = 'Cabinet'

# Repeat for remaining 'book' values not captured
mass_book_filter = df_merchandise.ProductType.str.contains('book', case=False)
df_merchandise.loc[mass_book_filter, 'ProductType'] = 'Book'

# Repeat for remaining 'bench' values not captured
mass_bench_filter = df_merchandise.ProductType.str.contains('bench', case=False)
df_merchandise.loc[mass_bench_filter, 'ProductType'] = 'Bench'

# Repeat for remaining 'stand' values not captured, including 'Nightstand', and consolidate as 'Stands'
mass_stands_filter = df_merchandise.ProductType.str.contains('stand', case=False)
df_merchandise.loc[mass_stands_filter, 'ProductType'] = 'Stands'

# Repeat for remaining 'dresser' values not captured
mass_dresser_filter = df_merchandise.ProductType.str.contains('dresser', case=False)
df_merchandise.loc[mass_dresser_filter, 'ProductType'] = 'Dresser'

# Repeat for remaining 'clock' values not captured
mass_clock_filter = df_merchandise.ProductType.str.contains('clock', case=False)
df_merchandise.loc[mass_clock_filter, 'ProductType'] = 'Clock'

# Repeat for seat, recliner values not captured as 'Chair'
mass_seat_filter = df_merchandise.ProductType.str.contains('seat', case=False) | df_merchandise.ProductType.str.contains('recliner', case=False) | df_merchandise.ProductType.str.contains('bar ', case=False)
df_merchandise.loc[mass_seat_filter, 'ProductType'] = 'Chairs'

# Repeat for hutch values not captured as 'Hutch'
mass_hutch_filter = df_merchandise.ProductType.str.contains('hutch', case=False)
df_merchandise.loc[mass_hutch_filter, 'ProductType'] = 'Hutch'

# Repeat for sectional values not captured as 'Sofa'
mass_sectional_filter = df_merchandise.ProductType.str.contains('sectional', case=False)
df_merchandise.loc[mass_sectional_filter, 'ProductType'] = 'Sofa'

# Repeat for headboard, spring, mat values not captured as 'Bed'
mass_headboard_filter = df_merchandise.ProductType.str.contains('board', case=False) | df_merchandise.ProductType.str.contains('box', case=False) | df_merchandise.ProductType.str.contains('mat', case=False)
df_merchandise.loc[mass_headboard_filter, 'ProductType'] = 'Bed'

df_merchandise.ProductType.value_counts().head(25)

Accessory    2202
Chairs       1674
Decor        1622
Table        1338
Art          1160
Lighting     1159
Pillow        837
Rug           504
Bed           376
Sofa          366
Mirror        313
Picture       246
Desk          185
Book          179
None          143
Stands        134
Free          122
Cabinet       121
Chest         121
Console       114
Ottoman        98
Bench          70
Dresser        67
Clock          56
Armoir         53
Name: ProductType, dtype: int64

In [43]:
df_merchandise[df_merchandise.groupby('ProductType')['ProductType'].transform('size') < 100].shape

(2391, 20)

Earlier there were 4,386 rows that were to be excluded from the dataset when analyzing top 20 selling items. After cleaning, that value is now only 2,636 rows.

In [44]:
df_merchandise.tail(10)

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
26363292,None,* Unknown,2.00,2.00,2019-05-11,2019-05-11,2.00,Sold,Elizabeth,1,0.0,10312,False,NaT,NaT,NaT,0.0,0,2019-08-09,0.000
26363293,Accessory,Finials,1.50,1.50,2019-07-04,2019-07-04,1.50,Sold,Gina,1,0.0,10749,False,NaT,NaT,NaT,0.0,0,2019-10-02,0.000
26363294,Lighting,KENS LAMPS X 2,1300.00,1300.00,2019-07-06,2019-07-06,1300.00,Sold,Gina,1,0.0,10787,False,NaT,NaT,NaT,0.0,0,2019-10-04,0.000
26363300,Mirror,Mirrors,198.00,198.00,2019-09-12,2019-09-12,198.00,Sold,Gina,1,0.0,11462,False,NaT,NaT,NaT,0.0,0,2019-12-11,0.000
26363301,Rug,Rug,50.00,50.00,2019-09-13,2019-09-13,50.00,Sold,Gina,237,0.0,11470,False,NaT,NaT,NaT,0.5,0,2019-12-12,0.000
26363302,Table,End Table,250.00,250.00,2019-10-01,2019-10-01,250.00,Sold,Adriana,1,0.0,11610,False,NaT,NaT,NaT,0.0,0,2019-12-30,0.000
26363303,Lighting,Chandelier,220.00,220.00,2020-05-16,2020-05-16,220.00,Sold,Chad,1870,0.0,13176,False,NaT,NaT,NaT,0.5,0,2020-08-14,0.000
66744212,None,Ceramic Pot,14.75,14.75,2020-05-29,2020-05-29,14.75,Sold,Fred,237,0.0,13291,False,NaT,NaT,NaT,0.5,0,2020-08-27,0.000
66744213,Hutch,Hutch,95.00,95.00,2020-06-05,2020-06-25,94.05,Sold,Noel,2172,0.0,13579,True,NaT,NaT,NaT,0.5,0,2020-09-03,8.455
66744214,Bed,KING,1200.00,1200.00,2020-06-05,2020-06-05,1200.00,Sold,Gina,2173,0.0,13361,True,NaT,NaT,NaT,0.5,0,2020-09-03,0.000

In [45]:
test = df_merchandise[df_merchandise.Price > 234]
test.ProductType.value_counts().head(20)

Chairs       722
Table        654
Sofa         332
Bed          228
Rug          202
Lighting     168
Art          129
Desk         121
Console       80
Accessory     78
Mirror        64
Decor         58
Cabinet       54
Chest         50
Stands        47
Hutch         46
Book          43
Dresser       37
Buffet        37
Armoir        36
Name: ProductType, dtype: int64

move enter date over and sort, drop duplicate rows with different index values for multiple entered items that are the same

In [47]:
# Move EnterDate column to front of df
df_merchandise = df_merchandise[['EnterDate'] + [col for col in df_merchandise.columns if col != 'EnterDate' ]]
df_merchandise.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
14191,2015-12-16,Bed,Tufted,149.0,104.3,NaT,0.0,Available,Ken,216,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14201,2017-09-07,Chairs,Bernhardt Counter Stool,230.0,154.1,NaT,0.0,Available,Elizabeth,987,0.0,0,True,2017-09-27,2017-10-17,2017-11-06,0.5,0,2017-12-06,23.0
14204,2015-12-16,Accessory,Ball,7.0,4.9,NaT,0.0,Available,Michael,37,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14214,2015-12-16,Rug,MB,199.0,139.3,NaT,0.0,Available,Ken,37,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14219,2015-12-16,Bed,Kingsize Bedding,300.0,210.0,NaT,0.0,Available,Ken,217,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14221,2015-12-16,Mirror,Thin Rectangle Mirror,109.0,76.3,NaT,0.0,Available,Noel,217,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14222,2015-12-16,Picture,Hydranges,174.0,121.8,NaT,0.0,Available,Noel,217,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14248,2015-12-16,Rug,Black Shag,109.0,76.3,NaT,0.0,Available,Noel,217,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-15,0.0
14276,2015-12-17,Custom Drape,Balloon Pouf,39.0,27.3,NaT,0.0,Available,Vicki,218,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-16,0.0
14277,2015-12-17,Drape,Custom Cornice,25.0,17.5,NaT,0.0,Available,Vicki,218,0.0,0,True,2016-02-15,2016-02-15,2016-02-15,0.5,0,2016-03-16,0.0

In [48]:
df_merchandise[10000:10010]

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,ReqPrice,InvoiceNumber,Return,MarkdownDate1,MarkdownDate2,MarkdownDate3,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,,,,
27865,2019-10-19,Sofa,Norwalk,1300.0,1014.00,2019-12-14,1001.00,Sold,Noel,1950,0.0,12167,True,2019-11-08,2019-11-29,NaT,0.5,0,2020-01-17,87.100
27866,2019-10-19,Table,Round Coffeetable,250.0,167.50,NaT,0.00,Available,Elizabeth,1950,0.0,0,True,2019-11-08,2019-11-29,2019-12-18,0.5,0,2020-01-17,25.000
27867,2019-10-20,Table,Side Table,250.0,250.00,2019-11-09,247.50,Sold,Adriana,237,0.0,11901,True,NaT,NaT,NaT,0.5,0,2020-01-18,22.250
27868,2019-10-21,Decor,Coffee Mug,5.0,5.00,2019-11-01,5.00,Sold,Gina,1946,0.0,11836,True,NaT,NaT,NaT,0.5,0,2020-01-19,0.000
27869,2019-10-21,Decor,Post House Bowl,8.0,7.12,2019-11-23,7.92,Sold,Chris,1946,0.0,12015,True,2019-11-10,NaT,NaT,0.5,0,2020-01-19,0.712
27870,2019-10-21,Decor,Tintern Plate,8.0,6.24,2019-12-13,7.04,Sold,Noel,1946,0.0,12153,True,2019-11-10,2019-11-30,NaT,0.5,0,2020-01-19,0.624
27871,2019-10-21,Decor,Platter,1.0,0.67,2020-06-27,0.28,Sold,Matthew,1946,0.0,13615,True,2019-11-10,2019-11-30,2019-12-20,0.5,0,2020-01-19,0.100
27872,2019-10-22,Table,Table 6/chairs,800.0,712.00,2019-11-16,792.00,Sold,Elizabeth,1951,0.0,11946,True,2019-11-11,NaT,NaT,0.5,0,2020-01-20,71.200
27873,2019-10-22,Art,Picture,50.0,39.00,2019-12-12,44.00,Sold,Chris,1774,0.0,12137,True,2019-11-11,2019-12-01,NaT,0.5,0,2020-01-20,3.900
27874,2019-10-22,Art,Picture,50.0,39.00,2019-12-12,44.00,Sold,Chris,1774,0.0,12137,True,2019-11-11,2019-12-01,NaT,0.5,0,2020-01-20,3.900