In [1]:
#imports
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
from matplotlib import dates as mpl_dates
from matplotlib.pyplot import figure
import numpy as np
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import calendar

In [2]:
df_merchandise = pd.read_excel('Merchandise.xlsx', index_col="ProductID")

## Data Preprocessing & Analysis

In [3]:
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,...,ListOnline,CustNo,FixSplit,TaxRate,PhyDate,Auction2,ConCode,BuyOut,CardFee,Reminded
ProductID,,,,,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
0,filler,filler,filler,filler,NaN,0.00,1999-12-31,2018-04-14,68.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,...,False,NaN,False,NaN,NaN,NaN,NaN,False,0.0,False

In [4]:
df_merchandise.shape

(15308, 50)

In [5]:
df_merchandise.count()

ProductType           15308
ProductColor          15308
ProductSize           15308
ProductDescription    15308
OrigPrice             15307
Price                 15308
EnterDate             15308
TransferDate          10923
TransferPrice         15308
TransferInd           15308
TransferBy            15308
CustomerID            15308
ReqPrice              15308
InvoiceNumber         10906
Return                15308
MarkdownDate1          9976
MarkdownDate2          8497
MarkdownDate3          6976
LabelPrinted          15308
MercCut               15307
DownPymt              15308
DownWho                   0
DownDate                  0
ItemCount             15308
Date1                     0
Text1                   395
Num1                  15308
ExpireDate            15308
LayawayGrp                0
PCName                14925
DontPrintTag          15308
ItemNotes                 0
WholesalePrice        15308
BuyersFee             15308
DownPhone                 0
ResaleNow             15308
PreviousOwner             0
AuctionID                 0
Taxable               14925
NeverMD               14925
ListOnline            15308
CustNo                    0
FixSplit              15308
TaxRate               14925
PhyDate                   0
Auction2                  0
ConCode                   0
BuyOut                15308
CardFee               10906
Reminded              15308
dtype: int64

In [6]:
df_merchandise['DownPymt'].unique()
# will drop

array([0])

In [7]:
df_merchandise['ReqPrice'].unique()
# will drop, unsure of what this column is and cannot find documentation

array([   0.  ,   18.4 ,   82.4 ,  129.6 ,   89.  ,  285.  ,   99.  ,
        439.  ,  207.6 ,   18.  ,   31.6 ,  319.6 ,  559.6 ,  127.6 ,
        151.6 ,  111.6 ,  199.5 ,  299.5 ,  719.6 ,  439.6 ,   89.5 ,
        129.5 ,  479.5 ,  289.  ,  349.  ,  719.  , 1199.5 ,  269.5 ,
        450.  ,   17.  ,    9.5 ,    4.5 ,   17.5 ,   13.5 ,    9.  ,
          4.25,   14.  ,   27.5 ,   30.  ,   42.5 ,   25.  ,   22.5 ,
         75.  ,   82.  ,   94.  , 1099.  ,  469.5 ,  569.5 ,  799.6 ,
        143.6 ,  599.5 ,  399.  ,   34.  ,   62.  ,  106.  ,   79.  ])

In [8]:
df_merchandise['Num1'].unique()
# will drop

array([0])

In [9]:
df_merchandise['Taxable'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [10]:
df_merchandise['Taxable'].value_counts()
# will drop

Y    14910
N       15
Name: Taxable, dtype: int64

In [11]:
df_merchandise['NeverMD'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [12]:
df_merchandise['NeverMD'].value_counts()
# will drop, unable to find documentation for this column description

N    13159
Y     1766
Name: NeverMD, dtype: int64

In [13]:
df_merchandise['TaxRate'].unique()
# will drop, these values will be worthless

array([nan,  0.])

In [14]:
df_merchandise['CardFee'].unique()
# will drop, these values will be worthless

array([ 0., nan])

In [15]:
# drop columns with no/many missing values and ones that are unnecessary
df_merchandise = df_merchandise.drop(['DownWho','DownDate','Date1','Text1','LayawayGrp','ItemNotes','Num1',
                                      'DownPhone','PreviousOwner','LabelPrinted','PCName','DontPrintTag',
                                      'Taxable','WholesalePrice','AuctionID','Return','CustNo','PhyDate','Auction2',
                                      'DownPymt','ReqPrice','ResaleNow','ListOnline','FixSplit','ConCode','NeverMD',
                                      'BuyOut','TaxRate','Reminded','CardFee','MarkdownDate1','MarkdownDate2','MarkdownDate3'], axis=1)

In [16]:
# drop filler row
df_merchandise = df_merchandise.drop([0])
df_merchandise.head()

,ProductType,ProductColor,ProductSize,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,,,
-2,None,None,None,Lamp,147.60,147.60,2018-08-18,2018-08-18,147.60,Sold,Chris,1,8150.0,0.0,0,2018-11-16,0.0
-1,None,None,None,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,2018-07-03,124.75,Sold,Adriana,237,7749.0,0.5,0,2018-10-01,0.0
1,None,None,None,Candle Holder,2.00,2.00,2020-05-20,2020-05-20,2.00,Sold,Gina,1,13211.0,0.0,0,2020-08-18,0.0
2,None,None,None,Colum,49.50,49.50,2020-07-18,2020-07-18,49.50,Sold,Noel,237,13842.0,0.5,0,2020-10-16,0.0
3,None,None,None,Credenza Lamp,71.10,71.10,2018-08-25,2018-08-25,71.10,Sold,Adriana,1,8225.0,0.0,0,2018-11-23,0.0

In [17]:
df_merchandise.dtypes

ProductType                   object
ProductColor                  object
ProductSize                   object
ProductDescription            object
OrigPrice                    float64
Price                        float64
EnterDate             datetime64[ns]
TransferDate          datetime64[ns]
TransferPrice                float64
TransferInd                   object
TransferBy                    object
CustomerID                     int64
InvoiceNumber                float64
MercCut                      float64
ItemCount                      int64
ExpireDate            datetime64[ns]
BuyersFee                    float64
dtype: object

In [18]:
# MercCut signifies 0.5 for items consigned (50/50 split), 0.0 for items the store purchased new
df_merchandise.MercCut.value_counts()

# 13,255 of the items have been consigned

0.5    13255
0.0     2052
Name: MercCut, dtype: int64

In [19]:
# Convert invoice number to int from float
df_merchandise.InvoiceNumber = df_merchandise.InvoiceNumber.fillna(0.0).astype(int)
df_merchandise.InvoiceNumber.dtype

dtype('int64')

In [20]:
df_merchandise.shape

(15307, 17)

In [21]:
# View top 21 selling items and their value counts
df_merchandise['ProductType'].value_counts().head(21)

Accessory       5266
Chair           1194
Decor            655
Table            402
None             384
Pillow           371
Art              365
Sofa             296
Rug              293
End Table        228
Lamp             224
Picture          221
Desk             171
Light            155
Bed              140
Barstool         124
Mirror           113
Coffee Table     111
Chest            104
Dining Table     104
Console           99
Name: ProductType, dtype: int64

In [22]:
products = df_merchandise['ProductType'].value_counts()
products[products < 10].shape
# there are 1103 different entry labels for the Product Type column that occur 10 or less times 
# I will likely exclude these entries from the dataframe when analyzing products since cleaning 1000+ rows is
# not feasible given the timeline of this project

(1103,)

In [23]:
products[products < 100].shape
# Outside of the top 20 selling items listed in ProductType (#20 having 104 entries), there are 1191 different 
# entry labels for this category. Only the top 20 items for this category will be analyzed

(1191,)

In [24]:
df_merchandise[df_merchandise.groupby('ProductType')['ProductType'].transform('size') < 100].shape
# 4,386 rows will be excluded from top20 item analysis prior to cleaning

(4386, 17)

In [25]:
df_merchandise['ProductColor'].value_counts().head(20)

None        14779
White          53
Brown          44
Black          29
Ivory          25
Flint          22
Driftwoo       19
Silver         17
Linen          13
Wheat          12
Sapphire       12
Seaglass       12
Gold           11
Blue           11
Red            10
Wood            9
Gray            9
Teal            9
Oatmeal         8
Navy            8
Name: ProductColor, dtype: int64

Since there's only 528 entires where the Product Color is any description other than "None", I will remove this column from the dataset as it will not be useful for analysis.

In [26]:
df_merchandise = df_merchandise.drop(['ProductColor'], axis=1)

In [27]:
df_merchandise['ProductSize'].value_counts().head(20)

None          14798
Jubilee          94
Park Avenu       39
Queen            18
Small            18
Medium           17
King             14
Large            13
Pomeroy          11
53006225         10
CM1700            8
CM3500            8
B446              8
CM4550            8
53005996          7
CM3200            7
Wood              6
9ft X 4ft         6
22x22             5
53005413el        3
Name: ProductSize, dtype: int64

Only 509 of the rows contain useful information regarding Product Size (other than 'None), will drop this column

In [28]:
df_merchandise = df_merchandise.drop(['ProductSize'], axis=1)

In [29]:
df_merchandise['ProductDescription'].value_counts().head(20)

Pillow          611
Lamp            436
Picture         347
Art             315
Chair           296
Rug             228
Mirror          216
Vase            203
Decor           202
Chandelier      145
Barstool        108
Free             98
Sofa             95
Book             88
Desk             87
Nightstand       78
Sidetable        69
Plate            68
Office Chair     65
Finial           65
Name: ProductDescription, dtype: int64

In [30]:
#How many rows are there with a Product Description label that occurs less than 65 times (outside of top20 values)
df_merchandise[df_merchandise.groupby('ProductDescription')['ProductDescription'].transform('size') < 65].shape

(11487, 15)

There are too many rows to go through and clean for Product Description given the timeframe of this report. However, there are rows in which the value for 'ProductType' contains 'None' or 'Accessory', but has a relevant value for 'ProductDescription' that could replace the ProductType value and fit into a pre-existing label in ProductType such as 'Table','Chair', etc.

In [31]:
accessories = df_merchandise[df_merchandise.ProductType == 'Accessory']
accessories.ProductDescription.value_counts().head(15)

Pillow             313
Lamp               269
Picture            226
Art                220
Vase               142
Mirror             129
Decor              118
Rug                 80
Free                72
Chandelier          72
Pewter Figurine     53
Plate               46
Painting            39
Book                37
Finial              36
Name: ProductDescription, dtype: int64

In [32]:
df_merchandise[df_merchandise.ProductType == 'Rug'].shape
# It looks like there are sufficient values for PD under PT = 'Accessory' that are already in the top 20
# value counts for PT that can be replaced using their PD values

(293, 15)

In [33]:
# Add filter to main replacement cell below
table = df_merchandise[df_merchandise.ProductType.str.contains('table', case=False)]
table.ProductType.value_counts()

Table              402
End Table          228
Coffee Table       111
Dining Table       104
Sidetable           79
Side Table          48
Endtable            44
Sofatable           38
Coffeetable         29
Diningtable         23
Sofa Table          17
Round Table          8
Table Set            8
Nesting Tables       6
Diningtable Set      5
Coffetable           4
Entry Table          4
Table/6 Chairs       4
Dining Table W/      3
Table 4 Chairs       3
Table Lamp           3
Cocktail Table       3
Table 8 Chairs       3
Table 6 Chairs       3
Pub Table            3
Diningtable W/8      3
Hall Table           2
Dining Table 8       2
Glass Endtable       2
Center Table         2
                  ...
Child Table/cha      1
Table 2 Chairs       1
Table/8 Chairs       1
Pie Table            1
Chairs/table         1
Red Table            1
Table/4 Chairs       1
Pubtable             1
Kincaid Table W      1
Adjustable Bed       1
Dinging Table        1
Endtable/tile        1
Table 7/chairs       1
Table 6/ Chairs      1
Storage Table        1
Table/chairs         1
Parquet Table        1
Table/hutch/8 C      1
Dinintable           1
Side Table Desk      1
Table 4 Chrs         1
Bisrto Table         1
Table W/7Chair       1
Drum Table           1
Mirror Table         1
Dining Table/4       1
Glasstop Table       1
Table And 4 Sid      1
Contep Tables        1
Farmtable            1
Name: ProductType, Length: 99, dtype: int64

In [34]:
# Add filter to main replacement cell below
chairs = df_merchandise[df_merchandise.ProductType.str.contains('chair', case=False)]
chairs.ProductType.value_counts()

Chair              1194
Chairs               34
Dining Chair         12
Chair/ottoman        10
Chair W/ottoman       7
Chair W/ott           6
Dinning Chair         6
Chair And Ottom       6
Table/6 Chairs        4
Rocking Chair         4
Metal Chair           4
COPPER CHAIR          4
Office Chair          4
Desk Chair            4
Barrel Chair          4
6 Chairs              3
DINING CHAIR          3
Table 6 Chairs        3
Table 8 Chairs        3
Table 4 Chairs        3
4 Chairs              3
Kai Side Chair        3
Side Chair            2
Arm Chair             2
Armchair              2
Chairs W/ Green       2
Table And Chair       2
Folding Chair         2
Parson Chair          2
Leather Chair         2
                   ...
Chair W/ Otto         1
Leather Chairs        1
Grey Chair            1
Table W/3 Chair       1
Floral Chair          1
Chairs/ Set Of        1
Game Chair            1
Table/10 Chairs       1
Chair & Ottoman       1
Table & 8 Chair       1
Table/Chairs          1
Chair W/ Ottoma       1
Dinette 4 Chair       1
Pfc Chair             1
French Chair          1
Maverick Chair        1
Plaid Chair           1
Chairs Set 6          1
Chair W/green S       1
Officechair           1
La-z-boy Chair        1
Chairside             1
Chair And 1/2         1
Table 2 Chairs        1
Set Of 6 Chairs       1
Table/8 Chairs        1
RH 2 Chairs/ Ot       1
Chairs/4              1
Sofa Chair            1
Table 6/ Chairs       1
Name: ProductType, Length: 99, dtype: int64

In [35]:
# Replace ProductType values for 'Accessory' that also contain top 20 values of ProductType for the ProductDescription category
# Replace values for 'Pillow'
pillow_filter = (df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Pillow')
df_merchandise.loc[pillow_filter, 'ProductType'] = df_merchandise['ProductDescription']

In [36]:
# Ensure new values were correctly added to 'Pillow' value counts and deducted from 'Accessory'
# 'Pillow' should increase from 371 to 684
df_merchandise.ProductType.value_counts().head()

Accessory    4953
Chair        1194
Pillow        684
Decor         655
Table         402
Name: ProductType, dtype: int64

In [37]:
# Ensure this swap did not affect ProductDescription value counts for 'Pillow'
accessories.ProductDescription.value_counts().head()

Pillow     313
Lamp       269
Picture    226
Art        220
Vase       142
Name: ProductDescription, dtype: int64

In [38]:
# Repeat for chairs
chairs = df_merchandise[(df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Chair')]
chairs.shape

(10, 15)

In [39]:
# Repeat for chairs
chair_filter = (df_merchandise['ProductType'] == 'Accessory') & (df_merchandise['ProductDescription'] == 'Chair')
df_merchandise.loc[chair_filter, 'ProductType'] = df_merchandise['ProductDescription']

In [40]:
# Ensure new values were correctly added to 'Pillow' value counts and deducted from 'Accessory'
# 'Chair' value should increase from 1194 to 1204
df_merchandise.ProductType.value_counts().head(10)

Accessory    4943
Chair        1204
Pillow        684
Decor         655
Table         402
None          384
Art           365
Sofa          296
Rug           293
End Table     228
Name: ProductType, dtype: int64

Repeat replacement process for other ProductType categories to better distribute values from **both** 'Accessory' and 'None' in ProductTypw that would better fit into other categories.

Check 'None' values for items over $200 to correct for

In [41]:
none_filter = df_merchandise[(df_merchandise['ProductType'] == 'None') & ((df_merchandise.Price >200))]
none_filter.head()

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
5,None,Rug,269.10,269.100,2018-09-28,2018-09-28,269.1,Sold,Adriana,1,8479,0.0,0,2018-12-27,0.0
19,None,Bench,500.00,500.000,2020-07-25,2020-07-25,500.0,Sold,Noel,237,13920,0.5,0,2020-10-23,0.0
18812,None,RH Stacking Bin,371.25,259.875,2018-06-02,2018-06-05,0.0,Available,System,237,7544,0.5,0,2018-08-31,0.0
18818,None,Rug 10 X 14,1259.50,1259.500,2018-09-02,2018-09-02,1259.5,Sold,Adriana,1306,8292,0.5,0,2018-12-01,0.0
20920,None,Chest,352.00,352.000,2018-09-01,2018-09-01,352.0,Sold,Adriana,1,8287,0.0,0,2018-11-30,0.0

In [42]:
# Accessory and None values cleaning

# Replace values where 'lamp' occurs
lamp_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('lamp', case=False))
df_merchandise.loc[lamp_filter, 'ProductType'] = 'Lamp'

# Repeat for chairs
chair_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('chair', case=False))
df_merchandise.loc[chair_filter, 'ProductType'] = 'Chairs'

# Repeat for pillows where 'pillow' occurs
pillow_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('pillow', case=False))
df_merchandise.loc[pillow_filter, 'ProductType'] = 'Pillow'

# Repeat for tables
table_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('table', case=False)) & ~(df_merchandise['ProductDescription'].str.contains('unforgettable', case=False)))
df_merchandise.loc[table_filter, 'ProductType'] = 'Table'

# Repeat for art
art_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('art', case=False))
df_merchandise.loc[art_filter, 'ProductType'] = 'Art'

# Repeat for sofa
sofa_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('sofa', case=False))
df_merchandise.loc[sofa_filter, 'ProductType'] = 'Sofa'

# Repeat for rug
rug_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('rug', case=False))
df_merchandise.loc[rug_filter, 'ProductType'] = 'Rug'

# Repeat for pictures as 'Art'
picture_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('picture', case=False))
df_merchandise.loc[picture_filter, 'ProductType'] = 'Art'

# Repeat for desk
desk_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('desk', case=False))
df_merchandise.loc[desk_filter, 'ProductType'] = 'Desk'

# Repeat for bed
bed_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('bed', case=False))
df_merchandise.loc[bed_filter, 'ProductType'] = 'Bed'

# Repeat for chest
chest_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('chest', case=False))
df_merchandise.loc[chest_filter, 'ProductType'] = 'Chest'

# Repeat for mirror
mirror_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('mirror', case=False))
df_merchandise.loc[mirror_filter, 'ProductType'] = 'Mirror'

# Repeat for painting as 'Art'
painting_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (df_merchandise['ProductDescription'].str.contains('painting', case=False))
df_merchandise.loc[painting_filter, 'ProductType'] = 'Art'

# Repeat for lights
light_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('light', case=False)) & ~(df_merchandise['ProductDescription'].str.contains('sconce', case=False)))
df_merchandise.loc[light_filter, 'ProductType'] = 'Light'

# Repeat for chandelier, lantern, 'ligt' as 'Lighting'
chandelier_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (((df_merchandise['ProductDescription'].str.contains('chandelier', case=False)))
                                                                      | ((df_merchandise['ProductDescription'].str.contains('lantern', case=False))) | ((df_merchandise['ProductDescription'].str.contains('ligt', case=False))))
df_merchandise.loc[chandelier_filter, 'ProductType'] = 'Lighting'

# Repeat for clock, vase, book, pewter items, bowl, greenery, tray, cross, urn, plate, decor as 'Decor'
decor_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & (((df_merchandise['ProductDescription'].str.contains('decor', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('clock', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('book', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('pewter', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('bowl', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('greenery', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('tray', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('cross', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('urn', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('plate', case=False)))
                                                                | ((df_merchandise['ProductDescription'].str.contains('vase', case=False))))
df_merchandise.loc[decor_filter, 'ProductType'] = 'Decor'

# Repeat for free
free_filter = ((df_merchandise['ProductType'] == 'Accessory') | (df_merchandise['ProductType'] == 'None')) & ((df_merchandise['ProductDescription'].str.contains('free', case=False)))
df_merchandise.loc[free_filter, 'ProductType'] = 'Free'

# Repeat for sleeper as 'Sofa'
none_sleeper_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('sleeper', case=False)))
df_merchandise.loc[none_sleeper_filter, 'ProductType'] = 'Sofa'

# Repeat for hardware, finials, rods as 'Accessory'
none_hw_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('hardware', case=False))
                                                             |(df_merchandise['ProductDescription'].str.contains('finial', case=False))
                                                             |(df_merchandise['ProductDescription'].str.contains('rod', case=False)))
df_merchandise.loc[none_hw_filter, 'ProductType'] = 'Accessory'

# Repeat for 'mat' values indicating mattresses as 'Bed'
none_mattress_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('mat', case=False)))
df_merchandise.loc[none_mattress_filter, 'ProductType'] = 'Bed'

# Repeat for 'bench' values
none_bench_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('bench', case=False)))
df_merchandise.loc[none_bench_filter, 'ProductType'] = 'Bench'

# Repeat for 'dresser' values
none_dresser_filter = (df_merchandise['ProductType'] == 'None') & ((df_merchandise['ProductDescription'].str.contains('bench', case=False)))
df_merchandise.loc[none_dresser_filter, 'ProductType'] = 'Dresser'

In [43]:
# Replace and consolidate all values in ProductType column

# Repeat for end table, coffee table, dining table, sidetable, etc. as 'Table' to consolidate
mass_table_filter = df_merchandise.ProductType.str.contains('table', case=False) | df_merchandise.ProductType.str.contains('coffee', case=False) | df_merchandise.ProductType.str.contains('tabl', case=False)
df_merchandise.loc[mass_table_filter, 'ProductType'] = 'Table'

# Repeat for lamp, light, chandelier as 'Lighting' to consolidate
lighting_filter = (df_merchandise['ProductType'] == 'Lamp') | (df_merchandise['ProductType'] == 'Light') | (df_merchandise['ProductType'] == 'LIghting') | (df_merchandise['ProductType'] == 'Chandelier')
df_merchandise.loc[lighting_filter, 'ProductType'] = 'Lighting'

# Repeat for all values of 'bed' into 'Bed' category
all_bed_filter = df_merchandise.ProductType.str.contains('bed', case=False)
df_merchandise.loc[all_bed_filter, 'ProductType'] = 'Bed'

# Repeat for all values of 'chair','barstool' into 'Chair' category in PT to consolidate
# contains 'dining chairs', 'sofa chair', 'side chair', etc.
mass_chair_filter = (df_merchandise.ProductType.str.contains('chair', case=False)) | (df_merchandise.ProductType.str.contains('barstool', case=False))
df_merchandise.loc[mass_chair_filter, 'ProductType'] = 'Chairs'

# Repeat for ottoman values 
ottoman_filter = df_merchandise.ProductType.str.contains('ottoman', case=False)
df_merchandise.loc[ottoman_filter, 'ProductType'] = 'Ottoman'

# Repeat for 'art' values 
mass_art_filter = df_merchandise.ProductType.str.contains('art', case=False)
df_merchandise.loc[mass_art_filter, 'ProductType'] = 'Art'

# Repeat for 'pillow' values 
mass_pillow_filter = df_merchandise.ProductType.str.contains('pillow', case=False)
df_merchandise.loc[mass_pillow_filter, 'ProductType'] = 'Pillow'

# Repeat for 'rug' values 
mass_rug_filter = df_merchandise.ProductType.str.contains('rug', case=False)
df_merchandise.loc[mass_rug_filter, 'ProductType'] = 'Rug'

# Repeat for remaining 'light' values not captured
mass_light_filter = df_merchandise.ProductType.str.contains('light', case=False)
df_merchandise.loc[mass_light_filter, 'ProductType'] = 'Lighting'

# Repeat for remaining 'sofa' values not captured
mass_sofa_filter = df_merchandise.ProductType.str.contains('sofa', case=False)
df_merchandise.loc[mass_sofa_filter, 'ProductType'] = 'Sofa'

# Repeat for remaining 'armoir' values not captured
armoir_filter = df_merchandise.ProductType.str.contains('armoir', case=False)
df_merchandise.loc[armoir_filter, 'ProductType'] = 'Armoir'

# Repeat for remaining 'mirror' values not captured
mass_mirror_filter = df_merchandise.ProductType.str.contains('mirror', case=False)
df_merchandise.loc[mass_mirror_filter, 'ProductType'] = 'Mirror'

# Repeat for remaining 'picture' values not captured
mass_picture_filter = df_merchandise.ProductType.str.contains('picture', case=False)
df_merchandise.loc[mass_picture_filter, 'ProductType'] = 'Picture'

# Repeat for remaining 'desk' values not captured
mass_desk_filter = df_merchandise.ProductType.str.contains('desk', case=False)
df_merchandise.loc[mass_desk_filter, 'ProductType'] = 'Desk'

# Repeat for remaining 'chest' values not captured
mass_chest_filter = df_merchandise.ProductType.str.contains('chest', case=False)
df_merchandise.loc[mass_chest_filter, 'ProductType'] = 'Chest'

# Repeat for remaining 'console' values not captured
mass_console_filter = df_merchandise.ProductType.str.contains('console', case=False)
df_merchandise.loc[mass_console_filter, 'ProductType'] = 'Console'

# Repeat for remaining 'free' values not captured
mass_free_filter = df_merchandise.ProductType.str.contains('free', case=False)
df_merchandise.loc[mass_free_filter, 'ProductType'] = 'Free'

# Repeat for remaining 'cabinet' values not captured
mass_cabinet_filter = df_merchandise.ProductType.str.contains('cabinet', case=False)
df_merchandise.loc[mass_cabinet_filter, 'ProductType'] = 'Cabinet'

# Repeat for remaining 'book' values not captured
mass_book_filter = df_merchandise.ProductType.str.contains('book', case=False)
df_merchandise.loc[mass_book_filter, 'ProductType'] = 'Book'

# Repeat for remaining 'bench' values not captured
mass_bench_filter = df_merchandise.ProductType.str.contains('bench', case=False)
df_merchandise.loc[mass_bench_filter, 'ProductType'] = 'Bench'

# Repeat for remaining 'stand' values not captured, including 'Nightstand', and consolidate as 'Stands'
mass_stands_filter = df_merchandise.ProductType.str.contains('stand', case=False)
df_merchandise.loc[mass_stands_filter, 'ProductType'] = 'Stands'

# Repeat for remaining 'dresser' values not captured
mass_dresser_filter = df_merchandise.ProductType.str.contains('dresser', case=False)
df_merchandise.loc[mass_dresser_filter, 'ProductType'] = 'Dresser'

# Repeat for remaining 'clock' values not captured
mass_clock_filter = df_merchandise.ProductType.str.contains('clock', case=False)
df_merchandise.loc[mass_clock_filter, 'ProductType'] = 'Clock'

# Repeat for seat, recliner values not captured as 'Chair'
mass_seat_filter = df_merchandise.ProductType.str.contains('seat', case=False) | df_merchandise.ProductType.str.contains('recliner', case=False) | df_merchandise.ProductType.str.contains('bar ', case=False)
df_merchandise.loc[mass_seat_filter, 'ProductType'] = 'Chairs'

# Repeat for hutch values not captured as 'Hutch'
mass_hutch_filter = df_merchandise.ProductType.str.contains('hutch', case=False)
df_merchandise.loc[mass_hutch_filter, 'ProductType'] = 'Hutch'

# Repeat for sectional values not captured as 'Sofa'
mass_sectional_filter = df_merchandise.ProductType.str.contains('sectional', case=False)
df_merchandise.loc[mass_sectional_filter, 'ProductType'] = 'Sofa'

# Repeat for headboard, spring, mat values not captured as 'Bed'
mass_headboard_filter = df_merchandise.ProductType.str.contains('board', case=False) | df_merchandise.ProductType.str.contains('box', case=False) | df_merchandise.ProductType.str.contains('mat', case=False)
df_merchandise.loc[mass_headboard_filter, 'ProductType'] = 'Bed'

df_merchandise.ProductType.value_counts().head(25)

Accessory    2202
Chairs       1674
Decor        1622
Table        1338
Art          1160
Lighting     1159
Pillow        837
Rug           504
Bed           376
Sofa          366
Mirror        313
Picture       246
Desk          185
Book          179
None          143
Stands        134
Free          122
Cabinet       121
Chest         121
Console       114
Ottoman        98
Bench          70
Dresser        67
Clock          56
Armoir         53
Name: ProductType, dtype: int64

In [44]:
df_merchandise[df_merchandise.groupby('ProductType')['ProductType'].transform('size') < 100].shape

(2391, 15)

Earlier there were 4,386 rows that were to be excluded from the dataset when analyzing top 20 selling items. After cleaning, that value is now only 2,636 rows.

In [45]:
df_merchandise.tail(10)

,ProductType,ProductDescription,OrigPrice,Price,EnterDate,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
26363292,None,* Unknown,2.00,2.00,2019-05-11,2019-05-11,2.00,Sold,Elizabeth,1,10312,0.0,0,2019-08-09,0.000
26363293,Accessory,Finials,1.50,1.50,2019-07-04,2019-07-04,1.50,Sold,Gina,1,10749,0.0,0,2019-10-02,0.000
26363294,Lighting,KENS LAMPS X 2,1300.00,1300.00,2019-07-06,2019-07-06,1300.00,Sold,Gina,1,10787,0.0,0,2019-10-04,0.000
26363300,Mirror,Mirrors,198.00,198.00,2019-09-12,2019-09-12,198.00,Sold,Gina,1,11462,0.0,0,2019-12-11,0.000
26363301,Rug,Rug,50.00,50.00,2019-09-13,2019-09-13,50.00,Sold,Gina,237,11470,0.5,0,2019-12-12,0.000
26363302,Table,End Table,250.00,250.00,2019-10-01,2019-10-01,250.00,Sold,Adriana,1,11610,0.0,0,2019-12-30,0.000
26363303,Lighting,Chandelier,220.00,220.00,2020-05-16,2020-05-16,220.00,Sold,Chad,1870,13176,0.5,0,2020-08-14,0.000
66744212,None,Ceramic Pot,14.75,14.75,2020-05-29,2020-05-29,14.75,Sold,Fred,237,13291,0.5,0,2020-08-27,0.000
66744213,Hutch,Hutch,95.00,95.00,2020-06-05,2020-06-25,94.05,Sold,Noel,2172,13579,0.5,0,2020-09-03,8.455
66744214,Bed,KING,1200.00,1200.00,2020-06-05,2020-06-05,1200.00,Sold,Gina,2173,13361,0.5,0,2020-09-03,0.000

In [46]:
test = df_merchandise[df_merchandise.Price > 234]
test.ProductType.value_counts().head(20)

Chairs       722
Table        654
Sofa         332
Bed          228
Rug          202
Lighting     168
Art          129
Desk         121
Console       80
Accessory     78
Mirror        64
Decor         58
Cabinet       54
Chest         50
Stands        47
Hutch         46
Book          43
Dresser       37
Buffet        37
Armoir        36
Name: ProductType, dtype: int64

move enter date over and sort, drop duplicate rows with different index values for multiple entered items that are the same

In [47]:
# Move EnterDate column to front of df
df_merchandise = df_merchandise[['EnterDate'] + [col for col in df_merchandise.columns if col != 'EnterDate' ]]
df_merchandise.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
-2,2018-08-18,Lighting,Lamp,147.60,147.60,2018-08-18,147.60,Sold,Chris,1,8150,0.0,0,2018-11-16,0.0
-1,2018-07-03,Chairs,Wrought Iron W. 5 Chairs,124.75,124.75,2018-07-03,124.75,Sold,Adriana,237,7749,0.5,0,2018-10-01,0.0
1,2020-05-20,None,Candle Holder,2.00,2.00,2020-05-20,2.00,Sold,Gina,1,13211,0.0,0,2020-08-18,0.0
2,2020-07-18,None,Colum,49.50,49.50,2020-07-18,49.50,Sold,Noel,237,13842,0.5,0,2020-10-16,0.0
3,2018-08-25,Lighting,Credenza Lamp,71.10,71.10,2018-08-25,71.10,Sold,Adriana,1,8225,0.0,0,2018-11-23,0.0

In [48]:
# Looking for duplicates
ken = df_merchandise[df_merchandise.TransferBy == 'Ken']
ken[200:220]

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
20062,2018-07-23,Floorlamp,Floorlamp,70.0,46.90,2018-11-21,19.25,Sold,Ken,1376,8905,0.5,0,2018-10-21,1.225
20070,2018-07-23,Table,Coffeetable,900.0,603.00,2018-12-31,247.50,Sold,Ken,1376,9202,0.5,0,2018-10-21,15.750
20085,2018-07-23,Finial,Finial,15.0,10.05,2018-09-26,11.55,Sold,Ken,1376,8471,0.5,0,2018-10-21,1.005
20086,2018-07-23,Finial,Finial,12.0,8.04,2018-09-26,9.24,Sold,Ken,1376,8471,0.5,0,2018-10-21,0.804
20108,2018-07-23,Chairs,Chair/ott,550.0,368.50,2018-09-26,423.50,Sold,Ken,1376,8471,0.5,0,2018-10-21,36.850
20128,2018-07-24,Art,Picture,10.0,6.70,2019-01-04,2.75,Sold,Ken,1378,9223,0.5,0,2018-10-22,0.175
20134,2018-07-25,Mirror,Mirror,25.0,16.75,2018-12-31,6.88,Sold,Ken,1379,9200,0.5,0,2018-10-23,0.438
20177,2018-07-26,Chairs,Chair,200.0,134.00,NaT,0.00,Available,Ken,1379,0,0.5,0,2018-10-24,20.000
20182,2018-07-26,Lighting,Lamp,50.0,33.50,2018-09-26,38.50,Sold,Ken,1379,8471,0.5,0,2018-10-24,3.350
20185,2018-07-26,Lighting,Lamp,50.0,33.50,2018-09-26,38.50,Sold,Ken,1379,8471,0.5,0,2018-10-24,3.350
20207,2018-07-26,Decor,Plate On Stand,40.0,26.80,2018-11-17,11.00,Sold,Ken,1292,8887,0.5,0,2018-10-24,0.700
20208,2018-07-26,Accessory,Pair Finials,40.0,26.80,2018-09-26,30.80,Sold,Ken,1292,8471,0.5,0,2018-10-24,2.680
20249,2018-07-26,Chaise,Chaise,500.0,335.00,NaT,0.00,Available,Ken,1382,0,0.5,0,2018-10-24,50.000
20252,2018-07-26,Chairs,Set / 8 Dining,1200.0,804.00,NaT,0.00,Available,Ken,1369,0,0.5,0,2018-10-24,120.000
20256,2018-07-27,Picture,Roses Painting,250.0,167.50,2018-09-26,192.50,Sold,Ken,411,8471,0.5,0,2018-10-25,16.750
20258,2018-07-27,Chairs,Chair,450.0,301.50,2018-09-26,346.50,Sold,Ken,411,8471,0.5,0,2018-10-25,30.150
20259,2018-07-27,Chairs,Chair,450.0,301.50,2018-09-26,346.50,Sold,Ken,411,8471,0.5,0,2018-10-25,30.150
20281,2018-07-27,Art,French Art,15.0,10.05,NaT,0.00,Available,Ken,1384,0,0.5,0,2018-10-25,1.500
20282,2018-07-27,Table,Brass End Table,50.0,44.50,2018-09-03,49.50,Sold,Ken,1384,8303,0.5,0,2018-10-25,4.450
20304,2018-07-27,Rug,Rug 8x10,500.0,335.00,2019-03-02,220.00,Sold,Ken,1292,9765,0.5,0,2018-10-25,17.000

In [49]:
ken.loc[[13462,13464]]
# Duplicates seem to be listed as still available, sorting by 'Sold' will fix this

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
13462,2015-11-09,Accessory,Pic Frame,10.0,7.0,NaT,0.0,Available,Ken,137,0,0.5,0,2016-02-07,0.0
13464,2015-11-09,Accessory,Pic Frame,10.0,7.0,NaT,0.0,Available,Ken,137,0,0.5,0,2016-02-07,0.0

In [50]:
df_merchandise.loc[[31462]]

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
31462,2020-05-19,Sofa,Henredon,400.0,268.0,2020-08-08,308.0,Sold,Noel,2146,14072,0.5,0,2020-08-17,26.8

In [51]:
df_merchandise = df_merchandise.sort_values(by='EnterDate')
df_merchandise.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
1174,2015-04-03,Assessory,Pillow Baker,49.0,34.3,2016-02-29,0.0,Store,Noel,1,0,0.0,0,2015-07-02,0.0
1171,2015-04-03,Assessory,Pillow Round Creme,29.0,20.3,2016-02-29,0.0,Store,Noel,1,0,0.0,0,2015-07-02,0.0
1175,2015-04-21,Assessory,Pillow,99.0,69.3,2016-02-29,0.0,Store,Noel,1,0,0.0,0,2015-07-20,0.0
1173,2015-04-21,Assessory,Pillow,99.0,69.3,NaT,0.0,Available,Sylvia,1,0,0.5,0,2015-07-20,0.0
1166,2015-04-24,Furniture,Chair Century,699.0,699.0,NaT,0.0,Store,Sylvia,1,0,0.0,0,2015-07-23,0.0

In [52]:
df_merchandise.TransferInd.value_counts()

Sold         10790
Available     3173
Store         1246
Vendor          98
Name: TransferInd, dtype: int64

In [53]:
store = df_merchandise[df_merchandise.TransferInd == 'Store']
store.TransferPrice.value_counts()
# Drop store values

0.0    1246
Name: TransferPrice, dtype: int64

In [54]:
df_merchandise[df_merchandise.TransferInd == 'Vendor'].TransferPrice.value_counts()
# Keep vendor, excluding where TransferPrice == 0

0.00       45
299.00      2
399.00      2
701.80      2
300.00      2
799.00      2
119.00      2
338.00      2
649.00      1
440.00      1
192.00      1
559.00      1
349.00      1
499.00      1
1421.10     1
244.00      1
279.00      1
369.00      1
189.00      1
899.00      1
129.00      1
235.00      1
102.00      1
74.50       1
319.00      1
699.00      1
375.00      1
152.10      1
449.40      1
524.30      1
535.20      1
199.20      1
719.10      1
269.10      1
1689.00     1
127.20      1
65.45       1
153.30      1
193.60      1
959.20      1
200.49      1
580.00      1
275.00      1
569.00      1
209.00      1
219.00      1
100.00      1
Name: TransferPrice, dtype: int64

In [55]:
store_items = df_merchandise[((df_merchandise.TransferInd == 'Sold') | (df_merchandise.TransferInd == 'Vendor')) & (df_merchandise.TransferPrice > 0)]
store_items.head(10)

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
500,2015-10-05,Delivery Fee,Delivery Fee,1.0,1.00,2020-08-12,100.00,Vendor,Elizabeth,1,14098,0.0,8288,2016-01-03,0.000
13690,2015-11-23,Accessory,Dragonfly Box,132.0,132.00,2018-09-15,19.80,Sold,Store,1,8392,0.0,0,2016-02-21,0.000
2266,2016-02-27,Lighting,Chandelier,649.0,434.83,2019-01-17,100.00,Sold,Noel,314,9369,0.5,0,2016-05-27,3.510
2228,2016-02-27,Chairs,Metal Bar Stool,149.0,149.00,2016-04-16,74.50,Vendor,Kathryn,1,1417,0.0,19,2016-05-27,0.000
3000,2016-02-29,SPO,SPO,1.0,1.00,2017-07-14,102.00,Vendor,Kathryn,1,4915,0.0,9976,2016-05-29,0.000
2000,2016-02-29,Bed,Peacock Alley,1.0,1.00,2016-04-23,235.00,Vendor,Chad,1,1476,0.0,9998,2016-05-29,0.000
2614,2016-03-03,Pillow,Throw Pillow,29.0,19.43,2019-08-05,0.01,Sold,Elizabeth,103,11077,0.5,0,2016-06-01,2.900
3158,2016-03-21,Inca Sq. Votive,Inca Sq. Votive,22.0,22.00,2018-12-31,22.00,Sold,Store,1,9205,0.0,0,2016-06-19,0.000
3334,2016-03-24,Counter Stool,Corbett Stool,348.0,348.00,2018-10-02,52.20,Sold,Store,1,8525,0.0,0,2016-06-22,0.000
3668,2016-04-07,Decor,Decorative Plate,21.0,14.07,2019-01-23,4.04,Sold,Chris,359,9418,0.5,0,2016-07-06,0.194

In [56]:
# Check that all items sold for $0 were removed
store_items[store_items.TransferPrice == 0].shape

(0, 15)

In [57]:
store_items[store_items.ProductType == 'Delivery Fee'].shape

(1, 15)

In [58]:
store_items = store_items.drop([500])
store_items.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee
ProductID,,,,,,,,,,,,,,,
13690,2015-11-23,Accessory,Dragonfly Box,132.0,132.00,2018-09-15,19.8,Sold,Store,1,8392,0.0,0,2016-02-21,0.00
2266,2016-02-27,Lighting,Chandelier,649.0,434.83,2019-01-17,100.0,Sold,Noel,314,9369,0.5,0,2016-05-27,3.51
2228,2016-02-27,Chairs,Metal Bar Stool,149.0,149.00,2016-04-16,74.5,Vendor,Kathryn,1,1417,0.0,19,2016-05-27,0.00
3000,2016-02-29,SPO,SPO,1.0,1.00,2017-07-14,102.0,Vendor,Kathryn,1,4915,0.0,9976,2016-05-29,0.00
2000,2016-02-29,Bed,Peacock Alley,1.0,1.00,2016-04-23,235.0,Vendor,Chad,1,1476,0.0,9998,2016-05-29,0.00

In [59]:
store_items['FinalPrice'] = ''
store_items['StoreCost'] = ''
store_items['NetProfit'] = ''
store_items.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee,FinalPrice,StoreCost,NetProfit
ProductID,,,,,,,,,,,,,,,,,,
13690,2015-11-23,Accessory,Dragonfly Box,132.0,132.00,2018-09-15,19.8,Sold,Store,1,8392,0.0,0,2016-02-21,0.00,,,
2266,2016-02-27,Lighting,Chandelier,649.0,434.83,2019-01-17,100.0,Sold,Noel,314,9369,0.5,0,2016-05-27,3.51,,,
2228,2016-02-27,Chairs,Metal Bar Stool,149.0,149.00,2016-04-16,74.5,Vendor,Kathryn,1,1417,0.0,19,2016-05-27,0.00,,,
3000,2016-02-29,SPO,SPO,1.0,1.00,2017-07-14,102.0,Vendor,Kathryn,1,4915,0.0,9976,2016-05-29,0.00,,,
2000,2016-02-29,Bed,Peacock Alley,1.0,1.00,2016-04-23,235.0,Vendor,Chad,1,1476,0.0,9998,2016-05-29,0.00,,,

In [60]:
for index, row in store_items.iterrows(): 
    store_items.at[index,'FinalPrice'] = ((row['TransferPrice'] * 0.08375) + row['TransferPrice'])
    store_items.at[index,'StoreCost'] = (row['TransferPrice'] - row['BuyersFee']) * row['MercCut']
store_items['FinalPrice'] = store_items['FinalPrice'].apply(lambda x: round(x, 2))

for index, row in store_items.iterrows():
    store_items.at[index,'NetProfit'] = (row['FinalPrice'] - row['StoreCost'])
store_items['NetProfit'] = store_items['NetProfit'].apply(lambda x: round(x, 2))

In [61]:
store_items.tail()

,EnterDate,ProductType,ProductDescription,OrigPrice,Price,TransferDate,TransferPrice,TransferInd,TransferBy,CustomerID,InvoiceNumber,MercCut,ItemCount,ExpireDate,BuyersFee,FinalPrice,StoreCost,NetProfit
ProductID,,,,,,,,,,,,,,,,,,
33646,2020-08-11,Decor,Modern Clock,25.0,25.0,2020-08-12,27.5,Sold,Elizabeth,1090,14097,0.5,0,2020-11-09,2.5,29.80,12.5,17.30
33681,2020-08-12,Mirror,Mirror,40.0,40.0,2020-08-12,44.0,Sold,Gina,2233,14101,0.5,0,2020-11-10,4.0,47.69,20,27.69
33680,2020-08-12,Art,Art,40.0,40.0,2020-08-12,44.0,Sold,Elizabeth,2233,14097,0.5,0,2020-11-10,4.0,47.69,20,27.69
33675,2020-08-12,Chairs,Kid Rocking Chair,150.0,150.0,2020-08-12,165.0,Sold,Elizabeth,2233,14099,0.5,0,2020-11-10,15.0,178.82,75,103.82
33677,2020-08-12,Art,Art,40.0,40.0,2020-08-12,44.0,Sold,Elizabeth,2233,14097,0.5,0,2020-11-10,4.0,47.69,20,27.69

In [62]:
# Rename columns for ease of understanding
store_items = store_items.rename(columns={"TransferDate": "SaleDate", "Price": "ListPrice", 
                                          "TransferPrice": "SalePrice", "TransferBy": "SaleEmployee"})

In [63]:
store_items.ItemCount = 1

In [64]:
store_items['StoreCost'] = store_items['StoreCost'].astype(float)

In [65]:
# Add Day, Month, and Quarter to Dataframe
store_items['Day Sold'] = store_items['SaleDate'].dt.day_name()
store_items['Month Sold'] = pd.DatetimeIndex(store_items['SaleDate']).month
#abbreviate call month
store_items['Month Sold'] = store_items['Month Sold'].apply(lambda x: calendar.month_abbr[x])
store_items['Quarter Sold'] = store_items['SaleDate'].dt.quarter.astype(str)
store_items.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,ListPrice,SaleDate,SalePrice,TransferInd,SaleEmployee,CustomerID,...,MercCut,ItemCount,ExpireDate,BuyersFee,FinalPrice,StoreCost,NetProfit,Day Sold,Month Sold,Quarter Sold
ProductID,,,,,,,,,,,,,,,,,,,,,
13690,2015-11-23,Accessory,Dragonfly Box,132.0,132.00,2018-09-15,19.8,Sold,Store,1,...,0.0,1,2016-02-21,0.00,21.46,0.000,21.46,Saturday,Sep,3
2266,2016-02-27,Lighting,Chandelier,649.0,434.83,2019-01-17,100.0,Sold,Noel,314,...,0.5,1,2016-05-27,3.51,108.38,48.245,60.13,Thursday,Jan,1
2228,2016-02-27,Chairs,Metal Bar Stool,149.0,149.00,2016-04-16,74.5,Vendor,Kathryn,1,...,0.0,1,2016-05-27,0.00,80.74,0.000,80.74,Saturday,Apr,2
3000,2016-02-29,SPO,SPO,1.0,1.00,2017-07-14,102.0,Vendor,Kathryn,1,...,0.0,1,2016-05-29,0.00,110.54,0.000,110.54,Friday,Jul,3
2000,2016-02-29,Bed,Peacock Alley,1.0,1.00,2016-04-23,235.0,Vendor,Chad,1,...,0.0,1,2016-05-29,0.00,254.68,0.000,254.68,Saturday,Apr,2

In [66]:
tickets = store_items.groupby(['InvoiceNumber','SaleDate']).sum()
tickets = tickets[['ItemCount','BuyersFee','FinalPrice','StoreCost','NetProfit']]
tickets = tickets.round({'BuyersFee': 2, 'FinalPrice': 2, 'StoreCost': 2})
tickets[5760:5770]

,,ItemCount,BuyersFee,FinalPrice,StoreCost,NetProfit
InvoiceNumber,SaleDate,,,,,
14065,2020-08-08,2,0.00,39.56,18.25,21.31
14066,2020-08-08,13,185.91,2250.74,945.44,1305.29
14067,2020-08-08,2,2.16,28.02,11.84,16.18
14068,2020-08-08,1,0.30,3.58,1.50,2.08
14069,2020-08-08,1,9.90,215.67,94.55,121.12
14070,2020-08-08,1,0.00,8.67,4.00,4.67
14071,2020-08-08,1,0.18,2.98,1.29,1.69
14072,2020-08-08,1,26.80,333.80,140.60,193.20
14073,2020-08-08,3,2.05,24.67,10.36,14.32
14074,2020-08-10,2,0.00,1.08,0.50,0.58

In [67]:
tickets.sort_values(by='SaleDate')
tickets.head()

,,ItemCount,BuyersFee,FinalPrice,StoreCost,NetProfit
InvoiceNumber,SaleDate,,,,,
1417,2016-04-16,1,0.0,80.74,0.0,80.74
1476,2016-04-23,1,0.0,254.68,0.0,254.68
4915,2017-07-14,1,0.0,110.54,0.0,110.54
6881,2018-03-10,1,0.0,139.80,0.0,139.80
6977,2018-03-20,1,0.0,324.04,0.0,324.04

In [68]:
tickets.shape

(5798, 5)

In [69]:
tickets = tickets.reset_index()
tickets = tickets.set_index('InvoiceNumber')

In [70]:
# Add Day, Month, and Quarter to Dataframe
tickets['Day Sold'] = tickets['SaleDate'].dt.day_name()
tickets['Month Sold'] = pd.DatetimeIndex(tickets['SaleDate']).month
#abbreviate call month
tickets['Month Sold'] = tickets['Month Sold'].apply(lambda x: calendar.month_abbr[x])
tickets['Quarter Sold'] = tickets['SaleDate'].dt.quarter.astype(str)
tickets.head()

,SaleDate,ItemCount,BuyersFee,FinalPrice,StoreCost,NetProfit,Day Sold,Month Sold,Quarter Sold
InvoiceNumber,,,,,,,,,
1417,2016-04-16,1,0.0,80.74,0.0,80.74,Saturday,Apr,2
1476,2016-04-23,1,0.0,254.68,0.0,254.68,Saturday,Apr,2
4915,2017-07-14,1,0.0,110.54,0.0,110.54,Friday,Jul,3
6881,2018-03-10,1,0.0,139.80,0.0,139.80,Saturday,Mar,1
6977,2018-03-20,1,0.0,324.04,0.0,324.04,Tuesday,Mar,1

# Analysis

In [71]:
# Size of dataframe of all products
store_items.shape

(10842, 21)

In [72]:
# Size of dataframe of each ticket
# Note: data is contained as early as 4/16/16, but only shows consistency starting 8/13/2018
# This data will be best analyzed from previous to current year (2019-2020)
tickets.shape

(5798, 9)

## Questions to answer:
### Store items:
### - What are the top 10 selling items to date
### - What are the top selling items by year, quarter
### - When do the highest priced items sell
### -- Percent change in expensive item sales from 2019-2020
### Tickets:
### - Avg ticket historically
### - Avg ticket by year, quarter, month
### - Avg ticket percent change from last year to this year
### -

### Store items:

In [73]:
store_items.head()

,EnterDate,ProductType,ProductDescription,OrigPrice,ListPrice,SaleDate,SalePrice,TransferInd,SaleEmployee,CustomerID,...,MercCut,ItemCount,ExpireDate,BuyersFee,FinalPrice,StoreCost,NetProfit,Day Sold,Month Sold,Quarter Sold
ProductID,,,,,,,,,,,,,,,,,,,,,
13690,2015-11-23,Accessory,Dragonfly Box,132.0,132.00,2018-09-15,19.8,Sold,Store,1,...,0.0,1,2016-02-21,0.00,21.46,0.000,21.46,Saturday,Sep,3
2266,2016-02-27,Lighting,Chandelier,649.0,434.83,2019-01-17,100.0,Sold,Noel,314,...,0.5,1,2016-05-27,3.51,108.38,48.245,60.13,Thursday,Jan,1
2228,2016-02-27,Chairs,Metal Bar Stool,149.0,149.00,2016-04-16,74.5,Vendor,Kathryn,1,...,0.0,1,2016-05-27,0.00,80.74,0.000,80.74,Saturday,Apr,2
3000,2016-02-29,SPO,SPO,1.0,1.00,2017-07-14,102.0,Vendor,Kathryn,1,...,0.0,1,2016-05-29,0.00,110.54,0.000,110.54,Friday,Jul,3
2000,2016-02-29,Bed,Peacock Alley,1.0,1.00,2016-04-23,235.0,Vendor,Chad,1,...,0.0,1,2016-05-29,0.00,254.68,0.000,254.68,Saturday,Apr,2

In [74]:
# Statistical summary of item prices
store_items.FinalPrice.describe()

count    10842.000000
mean       195.850989
std        407.888705
min          0.010000
25%         14.512500
50%         53.650000
75%        195.070000
max       9753.750000
Name: FinalPrice, dtype: float64

### - What are the top 10 selling items to date

In [75]:
# Top 10 selling items to date
store_items.ProductType.value_counts().head(10)

Accessory    1606
Chairs       1336
Decor        1179
Table        1084
Art           890
Lighting      874
Pillow        492
Rug           315
Sofa          285
Bed           246
Name: ProductType, dtype: int64

### - What are the top selling items by year, quarter

In [76]:
# Break up dataframe into year5 and year6 (2019,2020) for analysis
year4 = '2018-12-31'
year5 = '2019-12-31'
year6 = '2020-12-31'
#2019
year5_sales = store_items[(store_items['SaleDate'] <= year5) & (store_items['SaleDate'] > year4)]
#2020
year6_sales = store_items[(store_items['SaleDate'] <= year6) & (store_items['SaleDate'] > year5)]

In [77]:
# Filter by quarter for 2019, 2020
#2019
year5_q1 = year5_sales[year5_sales['Quarter Sold'] == '1']
year5_q2 = year5_sales[year5_sales['Quarter Sold'] == '2']
year5_q3 = year5_sales[year5_sales['Quarter Sold'] == '3']
year5_q4 = year5_sales[year5_sales['Quarter Sold'] == '4']
#2020
year6_q1 = year6_sales[year6_sales['Quarter Sold'] == '1']
year6_q2 = year6_sales[year6_sales['Quarter Sold'] == '2']
year6_q3 = year6_sales[year6_sales['Quarter Sold'] == '3']

### - Top selling items by year

In [78]:
# Top selling items for 2019
year5_sales.ProductType.value_counts(normalize=True).head(10)

Accessory    0.150517
Chairs       0.124929
Table        0.109690
Decor        0.109501
Lighting     0.079962
Art          0.079398
Pillow       0.041580
Rug          0.031421
Sofa         0.028975
Mirror       0.022578
Name: ProductType, dtype: float64

In [79]:
# Top selling items for 2020 to date
year6_sales.ProductType.value_counts(normalize=True).head(10)

Accessory    0.183691
Decor        0.121614
Chairs       0.107223
Art          0.091986
Lighting     0.091422
Table        0.085779
Pillow       0.042043
Rug          0.023138
Sofa         0.022856
Mirror       0.019752
Name: ProductType, dtype: float64

### - Top selling items by quarter

In [80]:
# 2019 Q1
year5_q1.ProductType.value_counts(normalize=True).head(6)

Accessory    0.142153
Chairs       0.123856
Table        0.104152
Art          0.092189
Decor        0.082336
Lighting     0.062632
Name: ProductType, dtype: float64

In [81]:
# 2020 Q1
year6_q1.ProductType.value_counts(normalize=True).head(6)

Accessory    0.162050
Decor        0.137119
Chairs       0.099723
Art          0.095568
Lighting     0.093490
Table        0.085180
Name: ProductType, dtype: float64

In [82]:
# 2019 Q2
year5_q2.ProductType.value_counts(normalize=True).head(6)

Accessory    0.155172
Chairs       0.134647
Table        0.124795
Decor        0.117406
Lighting     0.073071
Art          0.062397
Name: ProductType, dtype: float64

In [83]:
# 2020 Q2
year6_q2.ProductType.value_counts(normalize=True).head(6)

Accessory    0.207347
Decor        0.114286
Lighting     0.111837
Chairs       0.105306
Table        0.084898
Art          0.077551
Name: ProductType, dtype: float64

In [84]:
# 2019 Q3
year5_q3.ProductType.value_counts(normalize=True).head(6)

Accessory    0.175153
Chairs       0.118126
Table        0.110659
Decor        0.097760
Lighting     0.082824
Art          0.082824
Name: ProductType, dtype: float64

In [85]:
# 2020 Q3
year6_q3.ProductType.value_counts(normalize=True).head(6)

Accessory    0.186286
Chairs       0.122286
Decor        0.106286
Art          0.106286
Table        0.088000
Lighting     0.059429
Name: ProductType, dtype: float64

In [86]:
# 2019 Q4
year5_q4.ProductType.value_counts(normalize=True).head(6)

Decor        0.147963
Accessory    0.125520
Chairs       0.124688
Lighting     0.103907
Table        0.099751
Art          0.077307
Name: ProductType, dtype: float64

### - When do the highest priced items sell

In [87]:
expensive_items = store_items[store_items.FinalPrice > 200]
expensive_items.shape

(2702, 21)

In [88]:
# Top selling expensive items product type
expensive_items.ProductType.value_counts(normalize=True).head(6)

Chairs      0.208364
Table       0.185048
Sofa        0.095855
Bed         0.058475
Art         0.035159
Lighting    0.035159
Name: ProductType, dtype: float64

In [89]:
# Filtering for 2019,2020 expensive item sales
year5_expensive_items = expensive_items[(expensive_items['SaleDate'] <= year5) & (expensive_items['SaleDate'] > year4)]
year6_expensive_items = expensive_items[(expensive_items['SaleDate'] <= year6) & (expensive_items['SaleDate'] > year5)]

In [90]:
# Percent change in expensive item sales from 2019-2020
# 2019 ratio expensive items sales : all sales
year5_ratio = (((year5_expensive_items.shape[0]) / (year5_sales.shape[0])) * 100)

# 2020 ratio expensive items sales : all sales
year6_ratio =(((year6_expensive_items.shape[0]) / (year6_sales.shape[0])) * 100)

print('Percent change in expensive item sales from 2019 to 2020:', (year6_ratio-year5_ratio))

Percent change in expensive item sales from 2019 to 2020: -2.779544455510514

In [91]:
# Top expensive item sales for 2019
year5_expensive_items.ProductType.value_counts(normalize=True).head(6)

Chairs      0.212996
Table       0.200722
Sofa        0.104693
Bed         0.052708
Lighting    0.031769
Desk        0.031769
Name: ProductType, dtype: float64

In [92]:
# Top expensive item sales for 2020
year6_expensive_items.ProductType.value_counts(normalize=True).head(6)

Chairs      0.200000
Table       0.141818
Sofa        0.084848
Art         0.054545
Lighting    0.050909
Bed         0.048485
Name: ProductType, dtype: float64

In [93]:
# Sale Days of expensive items
expensive_items['Day Sold'].value_counts(normalize=True)

Saturday     0.270910
Friday       0.143597
Monday       0.127683
Thursday     0.122502
Wednesday    0.119541
Tuesday      0.111769
Sunday       0.103997
Name: Day Sold, dtype: float64

In [94]:
monday_ei = expensive_items[expensive_items['Day Sold'] == 'Monday']
tuesday_ei = expensive_items[expensive_items['Day Sold'] == 'Tuesday']
wednesday_ei = expensive_items[expensive_items['Day Sold'] == 'Wednesday']
thursday_ei = expensive_items[expensive_items['Day Sold'] == 'Thursday']
friday_ei = expensive_items[expensive_items['Day Sold'] == 'Friday']
saturday_ei = expensive_items[expensive_items['Day Sold'] == 'Saturday']
sunday_ei = expensive_items[expensive_items['Day Sold'] == 'Monday']

In [95]:
# Top expensive items product types sold on Saturday
saturday_ei.ProductType.value_counts(normalize=True).head(6)

Table       0.200820
Chairs      0.195355
Sofa        0.105191
Bed         0.060109
Art         0.054645
Lighting    0.038251
Name: ProductType, dtype: float64

In [96]:
# Top expensive items product types sold on Friday
friday_ei.ProductType.value_counts(normalize=True).head(6)

Chairs    0.201031
Table     0.185567
Sofa      0.105670
Bed       0.059278
Rug       0.036082
Desk      0.033505
Name: ProductType, dtype: float64

In [97]:
bigboy_items = store_items[store_items.FinalPrice > 1000]
bigboy_items.shape

(412, 21)

In [98]:
# Product Type breakdown of items sold for > $1000
bigboy_items.ProductType.value_counts(normalize=False).head(10)

Table       80
Sofa        78
Chairs      67
Bed         39
Cabinet     12
Desk        12
Rug         12
Lighting    11
Book        10
Art          9
Name: ProductType, dtype: int64

### Tickets:

### - Avg ticket historically

In [99]:
tickets.describe()

         ItemCount    BuyersFee    FinalPrice    StoreCost    NetProfit
count  5798.000000  5798.000000   5798.000000  5798.000000  5798.000000
mean      1.869955    26.486347    366.232566   146.269214   219.963091
std       2.059489    61.704053    802.369874   328.449737   484.254789
min       1.000000     0.000000      0.010000  -162.840000     0.010000
25%       1.000000     1.680000     32.165000    10.100000    19.555000
50%       1.000000     6.750000    114.505000    40.150000    68.710000
75%       2.000000    26.015000    369.995000   145.852500   217.840000
max      65.000000  1232.780000  15486.570000  6528.510000  8958.060000

### - Avg ticket by year, quarter, month

In [100]:
# Filtering for 2019,2020 tickets
year5_tickets = tickets[(tickets['SaleDate'] <= year5) & (tickets['SaleDate'] > year4)]
year6_tickets = tickets[(tickets['SaleDate'] <= year6) & (tickets['SaleDate'] > year5)]

In [101]:
# Hide for sensitive data
#print(f'2019 Ticket Count: {year5_tickets.shape[0]} and sale total: ${year5_tickets.NetProfit.sum()}')
#print(f'2020 Ticket Count: {year6_tickets.shape[0]} and sale total: ${year6_tickets.NetProfit.sum()}')

In [102]:
# Hide for sensitive data
#print(f'2019 Avg Ticket: ${round(year5_tickets.NetProfit.mean(),2)}')
#print(f'2020 Avg Ticket: ${round(year6_tickets.NetProfit.mean(),2)}')

In [103]:
# Hide for sensitive data
historical_tickets = tickets[(tickets['SaleDate'] <= year5)]
#print(f'Historical Ticket Avg: ${round(historical_tickets.NetProfit.mean(),2)}')
#print(f'2020 Ticket Avg: ${round(year6_tickets.NetProfit.mean(),2)}')

In [104]:
# Filter by quarter for 2019, 2020
#2019
year5_tickets_q1 = year5_tickets[year5_tickets['Quarter Sold'] == '1']
year5_tickets_q2 = year5_tickets[year5_tickets['Quarter Sold'] == '2']
year5_tickets_q3 = year5_tickets[year5_tickets['Quarter Sold'] == '3']
year5_tickets_q4 = year5_tickets[year5_tickets['Quarter Sold'] == '4']
#2020
year6_tickets_q1 = year6_tickets[year6_tickets['Quarter Sold'] == '1']
year6_tickets_q2 = year6_tickets[year6_tickets['Quarter Sold'] == '2']
year6_tickets_q3 = year6_tickets[year6_tickets['Quarter Sold'] == '3']

In [105]:
# Hide for sensitive data
#print(f'2019 Q1 Ticket Total: ${year5_tickets_q1.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_q1.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_q1.shape[0]}')
#print(f'2020 Q1 Ticket Total: ${year6_tickets_q1.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_q1.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_q1.shape[0]}')
print()
#print(f'2019 Q2 Ticket Total: ${year5_tickets_q2.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_q2.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_q2.shape[0]}')
#print(f'2020 Q2 Ticket Total: ${year6_tickets_q2.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_q2.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_q2.shape[0]}')
print()
#print(f'2019 Q3 Ticket Total: ${year5_tickets_q3.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_q3.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_q3.shape[0]}')
#print(f'2020 Q3 Ticket Total: ${year6_tickets_q3.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_q3.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_q3.shape[0]}')
print()
#print(f'2019 Q4 Ticket Total: ${year5_tickets_q4.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_q4.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_q4.shape[0]}')

In [106]:
# Filter by month for 2019, 2020
#2019
year5_tickets_jan = year5_tickets[year5_tickets['Month Sold'] == 'Jan']
year5_tickets_feb = year5_tickets[year5_tickets['Month Sold'] == 'Feb']
year5_tickets_mar = year5_tickets[year5_tickets['Month Sold'] == 'Mar']
year5_tickets_apr = year5_tickets[year5_tickets['Month Sold'] == 'Apr']
year5_tickets_may = year5_tickets[year5_tickets['Month Sold'] == 'May']
year5_tickets_jun = year5_tickets[year5_tickets['Month Sold'] == 'Jun']
year5_tickets_jul = year5_tickets[year5_tickets['Month Sold'] == 'Jul']
year5_tickets_aug = year5_tickets[year5_tickets['Month Sold'] == 'Aug']
year5_tickets_sep = year5_tickets[year5_tickets['Month Sold'] == 'Sep']
year5_tickets_oct = year5_tickets[year5_tickets['Month Sold'] == 'Oct']
year5_tickets_nov = year5_tickets[year5_tickets['Month Sold'] == 'Nov']
year5_tickets_dec = year5_tickets[year5_tickets['Month Sold'] == 'Dec']
#2020
year6_tickets_jan = year6_tickets[year6_tickets['Month Sold'] == 'Jan']
year6_tickets_feb = year6_tickets[year6_tickets['Month Sold'] == 'Feb']
year6_tickets_mar = year6_tickets[year6_tickets['Month Sold'] == 'Mar']
year6_tickets_apr = year6_tickets[year6_tickets['Month Sold'] == 'Apr']
year6_tickets_may = year6_tickets[year6_tickets['Month Sold'] == 'May']
year6_tickets_jun = year6_tickets[year6_tickets['Month Sold'] == 'Jun']
year6_tickets_jul = year6_tickets[year6_tickets['Month Sold'] == 'Jul']
year6_tickets_aug = year6_tickets[year6_tickets['Month Sold'] == 'Aug']
year6_tickets_sep = year6_tickets[year6_tickets['Month Sold'] == 'Sep']

In [107]:
# Metrics for months of Q1
# Hide for sensitive data
#print(f'2019 Jan Ticket Total: ${year5_tickets_jan.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_jan.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_jan.shape[0]}')
#print(f'2020 Jan Ticket Total: ${year6_tickets_jan.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_jan.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_jan.shape[0]}')
print()
#print(f'2019 Feb Ticket Total: ${year5_tickets_feb.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_feb.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_feb.shape[0]}')
#print(f'2020 Feb Ticket Total: ${year6_tickets_feb.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_feb.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_feb.shape[0]}')
print()
#print(f'2019 Mar Ticket Total: ${year5_tickets_mar.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_mar.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_mar.shape[0]}')
#print(f'2020 Mar Ticket Total: ${year6_tickets_mar.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_mar.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_mar.shape[0]}')

In [108]:
# Metrics for months of Q2
# Hide for sensitive data
#print(f'2019 Apr Ticket Total: ${year5_tickets_apr.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_apr.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_apr.shape[0]}')
#print(f'2020 Apr Ticket Total: ${year6_tickets_apr.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_apr.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_apr.shape[0]}')
print()
#print(f'2019 May Ticket Total: ${year5_tickets_may.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_may.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_may.shape[0]}')
#print(f'2020 May Ticket Total: ${year6_tickets_may.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_may.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_may.shape[0]}')
print()
#print(f'2019 Jun Ticket Total: ${year5_tickets_jun.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_jun.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_jun.shape[0]}')
#print(f'2020 Jun Ticket Total: ${year6_tickets_jun.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_jun.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_jun.shape[0]}')

In [109]:
# Metrics for months of Q3
# Hide for sensitive data
#print(f'2019 Jul Ticket Total: ${year5_tickets_jul.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_jul.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_jul.shape[0]}')
#print(f'2020 Jul Ticket Total: ${year6_tickets_jul.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_jul.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_jul.shape[0]}')
print()
#print(f'2019 Aug Ticket Total: ${year5_tickets_aug.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_aug.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_aug.shape[0]}')
#print(f'2020 Aug Ticket Total: ${year6_tickets_aug.NetProfit.sum().round(2)}, Ticket Avg: ${round(year6_tickets_aug.NetProfit.mean(),2)}, Number of Tickets: {year6_tickets_aug.shape[0]}')
print()
#print(f'2019 Sep Ticket Total: ${year5_tickets_sep.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_sep.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_sep.shape[0]}')
#print(f'2019 Oct Ticket Total: ${year5_tickets_oct.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_oct.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_oct.shape[0]}')
#print(f'2019 Nov Ticket Total: ${year5_tickets_nov.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_nov.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_nov.shape[0]}')
#print(f'2019 Dec Ticket Total: ${year5_tickets_dec.NetProfit.sum().round(2)}, Ticket Avg: ${round(year5_tickets_dec.NetProfit.mean(),2)}, Number of Tickets: {year5_tickets_dec.shape[0]}')

### - Avg ticket percent change from last year to this year